
<div class="reporte-recargas">
  <div class="row">
    <div class="col s12 mt-16">
      <div class="card">
        <div class="row">
          <div class="col s10">
            <div class="row">
              <div class="input-field col s6">
                <input type="text" class="datepicker" id="fechaInicio" [(ngModel)]="request.fechaInicio">
                <label>Fecha Inicial</label>
              </div>
              <div class="input-field col s6">
                <input type="text" class="datepicker" id="fechaFin" [(ngModel)]="request.fechaFin">
                <label>Fecha Final</label>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <select id="lstActivadores" name="lstActivadores" #lstActiva [(ngModel)]="request.usuarioId">
                  <option *ngFor="let obj of lstActivadores" value="{{obj.usuarioId}}"> {{obj.nombre}}</option>
                </select>
              </div>
              <div class="input-field  col s6">
                <input type="text" id="codigo" name="codigo" [(ngModel)]="request.codigo">
                <label>IMEI, ICCID o Número</label>
              </div>
            </div>
          </div>
          <div class="col s2">
            <div class="valign-wrapper enviar-filtro">
              <a class="waves-effect waves-light btn" (click)="consultaActivaciones()">Buscar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

          
  <div class="container" *ngIf="isEmpty">
    <div class="row pt-6">
      <div class="col s12 text-center textNotRegister">
        <h3>No se encontraron registros </h3>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isEmpty">
    <div class="col s12 mt-16">
      <div class="row">
        <div class="card">
          <table cdk-table [dataSource]="dataSource" id="table-activaciones">
            <ng-container cdkColumnDef="fechaActivacion">
              <th cdk-header-cell *cdkHeaderCellDef>Fecha Activación</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.fechaActivacion}} </td>
            </ng-container>
            <ng-container cdkColumnDef="horaActivacion">
              <th cdk-header-cell *cdkHeaderCellDef>Hora Activación</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.horaActivacion}} </td>
            </ng-container>
            <ng-container cdkColumnDef="imei">
              <th cdk-header-cell *cdkHeaderCellDef>IMEI</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.imei}} </td>
            </ng-container>
            <ng-container cdkColumnDef="iccid">
              <th cdk-header-cell *cdkHeaderCellDef>ICCID</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.iccid}} </td>
            </ng-container>
            <ng-container cdkColumnDef="numeroCelular">
              <th cdk-header-cell *cdkHeaderCellDef>Numero Celular</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.numeroCelular}} </td>
            </ng-container>
            <ng-container cdkColumnDef="plan">
              <th cdk-header-cell *cdkHeaderCellDef>Plan</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.plan}} </td>
            </ng-container>
            <ng-container cdkColumnDef="tarifa">
              <th cdk-header-cell *cdkHeaderCellDef>Tarifa</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.tarifa}} </td>
            </ng-container>
            <ng-container cdkColumnDef="activador">
              <th cdk-header-cell *cdkHeaderCellDef>Activador</th>
              <td cdk-cell *cdkCellDef="let element"> {{element.activador}} </td>
            </ng-container>
            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="hover"></tr>
          </table>
        </div>
      </div>
      <div class="col s12" *ngIf="!isEmpty">
        <button (click)="descargaExcel()" class=" left btn verde">
          Descargar
        </button>
      </div>
    </div>
  </div>
</div>