<div class="container" [formGroup]="form">
  <div class="card form-container">
    <div class="row m-0">
      <div class="input-field col m6 s12">
        <input placeholder="Nombre" type="text" formControlName="nombre" [(ngModel)]="roll.nombre">
        <label class="active">Nombre</label>
      </div>
      <div class="input-field col m6 s12">
        <input placeholder="Descripción" type="text" formControlName="descripcion" [(ngModel)]="roll.descripcion">
        <label class="active">Descripción</label>
      </div>
    </div>
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <h5 style="border-bottom: 1px solid #9e9e9e" class="pb-8 col s12">Módulos</h5>
        <table class="col s12 striped responsive-table">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Solo lectura</td>
              <td>Lectura y escritura</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of modules">
              <td>{{ module.nombre }}</td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in" [checked]="checkPermisos(module.id, 1)"
                    (click)="addModule(module.id,1)" />
                  <span>L</span>
                </label>
              </td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in" [checked]="checkPermisos(module.id, 2)"
                    (click)="addModule(module.id,2)" />
                  <span>E</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn 
      blue accent-1 btn-ag-sec right" (click)="registerRoll()">
        {{ isNew ? 'Crear rol' : 'Guardar cambios' }}
      </button>
    </div>
  </div>
</div>