<!--div class="row" style="padding-bottom:10px;">
  <div class="col title" [routerLink]="['..']">
    <a class=" text_blue">Banners</a>
    <i class="material-icons left text_blue">keyboard_backspace</i>
    <i class="material-icons left text_blue">view_carousel</i>
  </div>
</div-->
<a class="btn-floating btn-large waves-effect waves-light indigo darken-4" [routerLink]="['uploadBanner']">
  <i class="material-icons">add</i>
</a>


<div class="container" *ngIf="banners.length<=0">
  <div class="row pt-6">
    <div class="col s12 text-center textNotBanner">
      <h3>No hay banners cargados </h3>
    </div>
  </div>
</div>

<div class="container" *ngIf="banners.length>0">
  <div class="row pt-4">
    <div class="col s12 ">
      <div class="row pt-4">
        <div class="text-center">
          <table class="highlight responsive-table">
            <thead>
              <tr class="text-bold text-center">
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Fecha </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let banner of ( search == '  ' ? banners : ( banners | filter: { id : search } : false
                           | paginate: { itemsPerPage: noReg, currentPage: page } )); index as i;trackBy: trackByFn;" [routerLink]="[banner.id]">
                <td class="text-center"> {{banner.id}}</td>
                <td class="text-center"> {{banner.nombre}}</td>
                <td class="text-center"> {{banner.Fecha_Inicio_Publicacion}}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col offset-s10" >
        <div class="">
          <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
            nextLabel=""></pagination-controls>
      
        </div>
      </div>
    </div>
  </div>
</div>