@import 'src/assets/styles/_variables';
.btn_banner{
    cursor: pointer;
    background-color:white;
    color:white;
    border: none;
    outline:none;
}
.textNotBanner {
    top: 0%;
    transform: translate(0%, 50%);
    color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.title{
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
}
.text_blue{
    color:  #3e5f8a;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #1c3b72 !important;
  }

