@import 'src/assets/styles/_variables';

.side-img {
  background-color: #03254a;
  border-bottom: 1px solid $ag-gray;
  height: 4rem;
  
  img {
    margin-left: 2.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    height: 100%;
  }
}

.sidenav {
  background-color: #03254a !important;
  width: 17.8rem;
  z-index: 1000;
  font-size: .8rem !important;
}

.bg-nav{
  background-color: #03254a !important;
}

.sidenav li ~ li {
  margin-top: 8px;
}

.sidenav li ~ li a,
.sidenav li ~ li a i {
  color: $ag-dark-blue;
}

.sidenav-trigger {
  z-index: 750;
  position: fixed;
  color: $ag-dark-blue;
  left: 1.5rem;
  top: 1.5rem;

  i {
    font-size: .8rem !important;
  }
}

.divider {
  border-bottom: 2px solid $ag-white;
}


.link-active {
  background: #1b224a;
  // background: -moz-linear-gradient(left, $ag-light-blue -100%, $ag-white 100%);
  // background: -webkit-gradient(left top, right top, color-stop(-100%, $ag-light-blue), color-stop(100%, $ag-white));
  // background: -webkit-linear-gradient(left, $ag-light-blue -100%, $ag-white 100%);
  // background: -o-linear-gradient(left, $ag-light-blue -100%, $ag-white 100%);
  // background: -ms-linear-gradient(left, $ag-light-blue -100%, $ag-white 100%);
  // background: linear-gradient(to right, $ag-light-blue -100%, $ag-white 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bedb81', endColorstr='#e0ff9e', GradientType=1);
}

.menu {
  margin-bottom: 16px;

  a {
    cursor: initial;
    pointer-events: none;
  }
}

.li-second{
  margin-left: .5rem;
}
