<ul id="slide-out" #sidenav class="sidenav sidenav-fixed side icon-menu mCustomScrollbar"
  style="transform: translateX(0px);">
  

  
  <li class="side-img"><img src="assets/img/logo/logo-navbar.png" alt="logo"></li>
  <li>
    <a class="waves-effect white-text" routerLink="/home" routerLinkActive="link-active" (click)="goToMenu(null)">
      <i class="material-icons white-text">home</i> Home
    </a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <!-- Defaults -->
  <!-- <li *ngFor="let mod of modulos">
    <a class="waves-effect white-text">
      <i class="material-icons white-text">{{mod.icon}}</i> {{mod.nombre}}
    </a>
    <ng-container>
      <ul>
        <li *ngFor="let acc of mod.accesos" class="li-second">
          <a class="waves-effect white-text" [routerLink]="acc.path" routerLinkActive="link-active">
            <i class="material-icons white-text">{{acc.icon}}</i> {{acc.nombre}}
          </a>
        </li>
      </ul>
    </ng-container>
    <ng-container>
  <li>
    <div class="divider"></div>
  </li>
  </ng-container>
  </li> -->

  <ul class="collapsible expandable " #menuCollap>

    <li *ngFor="let mod of modulos ; let i = index">
      <div class="collapsible-header white-text" (click)="goToMenu(i)">
        <i class="material-icons white-text">{{mod.icon}}</i> {{mod.nombre}}
      </div>
      <div class="collapsible-body bg-nav">
        <ul class="">
          <li *ngFor="let acc of mod.accesos" class="li-second">
            <a class="waves-effect white-text" [routerLink]="acc.path" routerLinkActive="link-active"
              (click)="isClicked()">
              <i class="material-icons white-text">{{acc.icon}}</i> {{acc.nombre}}
            </a>
          </li>
        </ul>
      </div>
      <ul>
        <li>
          <div class="divider"></div>
        </li>
      </ul>
    </li>

  </ul>

  <!-- end-->

  <li>
    <a class="waves-effect white-text" (click)="logOut()">
      <i class="material-icons white-text">exit_to_app</i> Salir
    </a>
  </li>
</ul>