@import 'src/assets/styles/_variables';
.textNotRegister {
  top: 0%;
  transform: translate(0%, 60%);
  color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.title{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}
.cardt{
  border: none;
    outline:none;
}
#table-activaciones{
  border: none;
  outline:none;
}
.verde {
  margin-top: 10px;
  background: #8cbe29;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #1c3b72 !important;
}