@import 'src/assets/styles/_variables';
.textNotRegister {
  top: 0%;
  transform: translate(0%, 60%);
  color: $ag-dark-blue;
  p {
      font-size: 2rem;
  }
  h3 {
      font-size: 4rem;
  }
}
#tablaUsuarios  {
  overflow: scroll;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}

table {
  width: 100%;
  table-layout: fixed;
}
thead{
  

height: 30px;



}
th{

font-size: 15px;
width: 180px;

}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}
.radius {
  border-radius: 20px;
}
.verde {
  margin-top: 10px;
  background: #8cbe29;
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #1c3b72 !important;
}
.color {
  background-color: #1c3b72 !important;
}
::-webkit-input-placeholder {
  color: #000000 !important;
  opacity: 0.4;
}

:-moz-placeholder {
  color: #000000 !important;
  opacity: 0.4;
}


::-moz-placeholder {
  
  color: #000000 !important;
  opacity: 0.4;
}

:-ms-input-placeholder {
  
  color: #000000 !important;
  opacity: 0.4;
}

.input-personal {
  color: #1c3b72 !important;
  font-weight: bold !important;
  border-bottom: 1px solid #9e9e9e;
  padding: 0;
}
.option-personal {
  min-height: 4em;
}
.lindo {
  background: #1c3b72;
  color: #f2f2f2;
  width: 4em;
  height: auto;
  position: relative;
}

td {

  width: 180px;
  
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
html {
  overflow: hidden !important;
}

.table-mz {
  flex: 1 1 auto;

  max-height: 100%;
  display: table;
}
.lds-circle {
  display: flex;
  align-items: center;
  margin: 10em auto;
  justify-content: center;
  width: 100%;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #3e5f8a;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}
