
<div class="reporte-recargas ">
  <div class="row">
    <div class=" col s12">
      <div class="input-field search-field z-depth-1">
        <i class="material-icons prefix">search</i>
        <input id="search" type="text" [(ngModel)]="search" placeholder="Buscar usuario">
      </div>
      <div id=tablaUsuarios>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th  >Nombre De Usuario</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Numero interno</th>
              <th>Activaciones </th>
              <th>Ventas</th>
              <th>Roles y permisos</th>
              
            </tr>
          </thead>
          <ng-container *ngFor="let user of ( search == '  ' ? users : ( users | filter: { nombre : search,
                  nombre_Usuario: search, nombreCompleto: search,   telefono: search, correo: search, id: search} : false
                  | paginate: { itemsPerPage: noReg, currentPage: page } ));index as i;trackBy: trackByFn;
              ">

            <tr [class]="i % 2 == 0 ? 'lol' : ''">
              <td> {{ user.nombre_Usuario }}  </td>
              <td> {{ user.nombre }} </td>
              <td>{{ user.apellido_Paterno }}</td>
              <td> {{ user.apellido_Materno }} </td>
              <td>{{ user.numero_Interno_AG_ID }}</td>
              <td> {{ permisoModulo(user.modulos,2) }} </td>
              <td> {{ permisoModulo(user.modulos,1) }} </td>
              <td>{{  permisoModulo(user.modulos,5) }} </td>
              
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
    <div class="row" >
      <div class="col s6" >
        <button (click)="exportAsXLSX()" class=" left btn verde">
          Descargar
        </button>
      </div>
      <div class="col s6 right">
        <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
          nextLabel=""></pagination-controls>
  
      </div>
      

    </div>
    
  

</div>
