@import 'src/assets/styles/variables';

.header {
  position: sticky;
  top: 0;
  z-index: 500;
  height: 4rem;
  background-color: $ag-white;
  border-bottom: 1px solid $ag-gray;
}

.brand-logo {
  cursor: pointer;
  font-size: 1rem;
  line-height: 4rem;

  i {
    height: 1rem;
    line-height: 4rem;
  }
  margin-right: 1rem;

  color: $ag-black;
}

.brand-logo:hover {
  font-weight: 600;
}
