.activation-kit {
  width: 80%;
  margin-top: 40px;
  color: #3E5F89;
  transform: translate(8%, 0%);
  
}

.activation-kit form {
  margin: auto;
  width: 80%;
}

#principal {
  height: 200px;
  width: 60%;
  color: #3E5F89;
  padding: 5px;
  position: absolute;
  right: 10%;

}

.center {
  text-align: center;
}

.borderdiv {
  border: 1px solid #3E5F89;
  border-radius: 50px;
}

.text-blue {
  color: #3E5F89;
}

.danger {
  color: #DB032E;
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}


#btnActivar {
  background-color: #3E5F89;
  width: 50%;
  border-radius: 2rem;
}


.borderdiv {
  border: 1px solid #3E5F89;
  border-radius: 50px;
}

.text-blue {
  color: #3E5F89;
}

.danger {
  color: #DB032E;
}