
<div class="col activation-kit">
  <form (ngSubmit)="f.form.valid && process()" #f="ngForm" novalidate>
   
    <div class="row">
      <div class="col s12 borderdiv valign-wrapper form-group">
        <div class="col s12 m6 l3 text-bold">
          <p>Producto</p>
        </div>
        <div class="col s12 m6 l3" *ngFor="let producto of catalogos.productos; let index = index">
          <label>
            <input name="producto" type="radio" [value]="producto.id" [(ngModel)]="model.producto"
              (change)="changePlan()">
            <span>{{producto.producto}}</span>
          </label>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 borderdiv valign-wrapper">
        <div class="col s3 text-bold">
          <p>Plan</p>
        </div>
        <div class="col s9">
          <select #inputPlanes id="inputPlanes" [(ngModel)]="model.plan" name="planes">
            <option value="0" selected>Elija un plan</option>
            <option *ngFor="let plan of planes" [value]="plan.id"> {{plan.nombre}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="model.producto != 3">
      <div class="col s12 borderdiv valign-wrapper">
        <div class="col s4 text-bold">
          <p>Tarifa</p>
        </div>

        <div class="col s4" *ngFor="let tarifa of catalogos.tarifas; let index = index">
          <label>
            <input name="tarifa" type="radio" [value]="tarifa.id" [checked]="index == 0" [(ngModel)]="model.tarifa" />
            <span>{{tarifa.nombre}}</span>
          </label>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col s12 borderdiv valign-wrapper">
        <div class="col s2 text-bold">
          <p>ICCID:</p>
        </div>
        <div class="col s10">
          <input type="text" maxlength="19" minlength="19" (keypress)="numberOnly($event)" name="icci"
            autocomplete="off" [(ngModel)]="model.icci" #mIccid="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && mIccid.invalid }" required>
          <div *ngIf="f.submitted && mIccid.invalid" class="danger center">
            <span>El ICCID no es correcto</span>
          </div>
        </div>

      </div>
    </div>

    <div class="row" *ngIf="model.producto != 2">
      <div class="col s12 borderdiv valign-wrapper">
        <div class="col s2 text-bold">
          <p>IMEI:</p>
        </div>
        <div class="col s10">
          <input type="text" maxlength="15" minlength="15" (keypress)="numberOnly($event)" name="imei"
            autocomplete="off" [(ngModel)]="model.imei" #mImei="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && mImei.invalid }" required>
          <div *ngIf="f.submitted && mImei.invalid" class="danger center">
            <span>El IMEI no es correcto</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 borderdiv">

        <div class="col s3 text-bold">
          <p>Ciudad:</p>
        </div>
        <div class="col s9  ">
          <div class="input-field">
            <select #inputCiudades [(ngModel)]="model.cuidad" name="ciudades">
              <option value="0" selected>Elija una ciudad</option>
              <option value='{{ciudad.id}}' *ngFor="let ciudad of ciudades"> {{ciudad.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 center">

        <button type="submit" id="btnActivar" class="waves-effect waves-light btn accent-1 btn-large">
          Activar Línea
        </button>

      </div>
    </div>
  </form>

</div>