.title{
  cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
  }
  .text_blue{
    color:  #3e5f8a;
  }
  .btn_banner{
    cursor: pointer;
    background-color:white;
    color:white;
    border: none;
    outline:none;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.my-pagination /deep/ .ngx-pagination .current {
  background: #1c3b72 !important;
}