.login-content {
  position: absolute;
  top: 18vh;
  right: 10vh;
  width: 60vh;
  height: 60vh;
  background-color: $ag-white;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  border-radius: 4%;
  -webkit-box-shadow: 20vh 0 0 2vh #3e5f8a;
  -moz-box-shadow: 20vh 0 0 2vh #3e5f8a;
  box-shadow: 20vh 0 0 2vh #3e5f8a;
}

.login-image {
  position: absolute;
  top: 30vh;
  left: 20rem;
  height: 30vh;
}
