.title{
  cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
  }
  .text_blue{
    color:  #3e5f8a;
  }