
<div class="container">

  <div class="preloader-wrapper big active" *ngIf="bIsLoading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>


  <div class="card form-container" [formGroup]="form" *ngIf="!bIsLoading">

    <div class="row m-0">

      <div class="col s6">
        <h5 class="ag-text-blue">{{ user.nombre_Usuario }}</h5>
      </div>
      <div class="input-field col s6">
        <input placeholder="Nombre" type="text" formControlName="nombre" [(ngModel)]="user.nombre">
        <label class="active">Nombre</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Apellido paterno" type="text" formControlName="apellido_Paterno"
          [(ngModel)]="user.apellido_Paterno">
        <label class="active">Apellido paterno</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Apellido materno" type="text" formControlName="apellido_Materno"
          [(ngModel)]="user.apellido_Materno">
        <label class="active">Apellido materno</label>
      </div>
    </div>

    <div class="row">
      <div class="col s6 mt-16">
        <label class="col s6">
          <input type="checkbox" class="filled-in" [checked]="user.tipo_persona == 1" (change)="togglePerson(1)"
            value="1" />
          <span>Persona Física</span>
        </label>
        <label class="col s6">
          <input type="checkbox" class="filled-in" [checked]="user.tipo_persona == 2" (change)="togglePerson(2)"
            value="2" />
          <span>Persona Moral</span>
        </label>
      </div>
      <div class="input-field col s6">
        <input placeholder="RFC" type="text" formControlName="rfc" [(ngModel)]="user.rfc">
        <label class="active">RFC</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Razón social" type="text" formControlName="razon_social" [(ngModel)]="user.razon_social">
        <label class="active">Razón social</label>
      </div>
      <div class="input-field col m6 s12">
        <select materialize="material_select" id="typeUser" name="typeUser" #typeUser [(ngModel)]="user.typeUser"
          formControlName="typeUser" (change)="changeTypeUser()">
          <option value="0" selected> Todos </option>
          <option value="1"> Vendedores </option>
          <option value="2"> Subdistribuidores </option>

        </select>
        <label>Tipo Usuario </label>
      </div>

    </div>
    <div class="row m-0">
      <!-- DIRECCION -->
      <div class="input-field col m6 s12">
        <input type="text" placeholder="Direccion" id="txtDireccion" formControlName="direccion"
          [(ngModel)]="user.direccion" />
        <label class="active">Dirección</label>
      </div>
      <div class="input-field col s6">
        <input type="number" placeholder="Número Interno" id="selAgName" name="selAgName" formControlName="numeroInternoAGID" #selAgName
              [(ngModel)]="user.numero_Interno_AG_ID" />
         
        <label>Número Interno </label>
      </div>
    </div>
    <!--  User data -->
    <div class="row">
      <div class="col s12">
        <h5 class="ag-text-blue">Contacto</h5>
      </div>
      <div class="row">

        <div class="input-field col s6">
          <input placeholder="Teléfono" type="tel" formControlName="telefono" [(ngModel)]="user.telefono">
          <label class="active">Teléfono</label>
        </div>
        <div class="input-field col s6">

          <select formControlName="idCarrier" id="carrier" name="carrier" #carrier [(ngModel)]="user.carrier.id">
            <option value="" disabled selected>-Seleccione-</option>
            <option *ngFor="let carrier of carriers" [value]="carrier.carrier_id">{{ carrier.nombre }}</option>
          </select>
          <label>Carrier (Compañia)</label>
          <!-- <label></label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Email" type="email" formControlName="email" [(ngModel)]="user.correo">
          <label class="active">Email</label>
        </div>
        <div class="col s3 valign-wrapper">
          <div class="input-field">
            <select formControlName="idRol" id="rol" name="rol" #rol [(ngModel)]="user.rol.id"
              (change)="changeRol(user.rol.id)">
              <option value="" disabled selected>-Seleccione-</option>
              <option *ngFor="let rol of rolls" [value]="rol.id">{{ rol.nombre }}</option>
            </select>
            <label>Rol (Permisos)</label>
          </div>

        </div>
        <div class="input-field col s3">
            <select formControlName="idPerfil" id="profile" name="profile" #profile [(ngModel)]="user.perfilId">
              <option value="" disabled selected>-Seleccione-</option>
              <option *ngFor="let perfil of lsPerfiles" [value]="perfil.perfilId">{{ perfil.nombre }}</option>
            </select>
            <label>Perfil</label>
        </div>
        <label class="col s3 valign-wrapper">
          <input type="checkbox" class="filled-in" [(ngModel)]="user.permisos_especiales" value="true"
            formControlName="permisos_especiales" (change)="checkPermisoEspecial()" />
          <span>Permisos personalizados</span>
        </label>
      </div>

    </div> <!-- Contact data -->
    <div class="row">
      <div class="col m10 offset-m1 s12">
        <h5 style="border-bottom: 1px solid #9e9e9e" class="pb-8 col s12">Módulos</h5>
        <table class="col s12 striped responsive-table">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Solo lectura</td>
              <td>Lectura y escritura</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let module of modules">
              <td>{{ module.nombre }}</td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in" [checked]="checkPermisos(module.id, 1)"
                    [disabled]="!user.permisos_especiales" (click)="addModule(module.id, 1)" />
                  <span>L</span>
                </label>
              </td>
              <td>
                <label>
                  <input type="checkbox" class="filled-in" [checked]="checkPermisos(module.id, 2)"
                    [disabled]="!user.permisos_especiales" (click)="addModule(module.id, 2)" />
                  <span>E</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn
      blue accent-1 btn-ag-sec right" (click)="registerUser()">
        {{ isNew ? 'Crear usuario' : 'Guardar cambios' }}
      </button>
    </div>
  </div>
</div>