/* .container, .card{
    height: 100%;
}*/

.card{
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #CDCDCD;
    border-bottom: none;
    position: absolute !important;
}

.image{
    margin-top: 13%;
    margin-bottom: 13%;
}
.title{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
  }
  .text_blue{
    color:  #3e5f8a;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.4; /* Firefox */
  }
.container{
  margin-top: 10%;
}
