
<div class="container pt-4">

  <div class="card m-0">
    <form class="row" [formGroup]="form" (submit)="changePassword($event)">
      <div class="col s8 offset-s2">
        <div class="text-center">
          
            <img class="w-70 image" src="assets/img/logo/logo-login.png" alt="logo">
         
        </div>
        <div class="row">
          <div class="input-field col s12">
            
            <input type="password" placeholder="Contraseña actual" formControlName="old">
            <i class="material-icons prefix text_blue">lock</i>
            <span class="ag-text-red center-align" *ngIf="form.get('old').hasError('required') && formSubmitted">Este
              campo es requerido</span>
          </div>
        </div>
        <div class="row">
          <ng-container formGroupName="passwords">
            <div class="input-field col s12">
              
              <input type="password" placeholder="Nueva contraseña" formControlName="new">
              <i class="material-icons prefix text_blue">lock</i>
              <span class="ag-text-red center-align"
                *ngIf="form.get('passwords.new').hasError('required') && formSubmitted">Este
                campo es requerido</span>
            </div>
            <div class="input-field col s12">
              
              <input type="password" placeholder="Repetir contraseña" formControlName="confirm">
              <i class="material-icons prefix text_blue">lock</i>
              <span class="ag-text-red center-align"
                *ngIf="form.get('passwords.confirm').hasError('required') && formSubmitted">Este
                campo es requerido</span>
              <span class="ag-text-red center-align mt-8"
                *ngIf="form.get('passwords.confirm').hasError('matchpassword') && formSubmitted">Las
                contraseñas no coinciden</span>
            </div>
          </ng-container>
        </div>
        <div class="row text-center">
          <div class="col s6">
            <button class="waves-effect waves-light btn-large blue darken-4" type="submit"
              [routerLink]="['/home']">
              Cancelar
            </button>

          </div>
          <div class="col s6">
            <button class="waves-effect waves-light btn-large blue darken-4" type="submit">
              Cambiar contraseña
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>