.pre-loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(205, 205, 205, 0.4);
    z-index: 1500;
}

.pre-loader{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 0 auto;
    padding-top: 8px;
    vertical-align: middle;
}