<div class="pre-loader-container" *ngIf="show">
  <div class="row mt-8">
    <div class="card pre-loader center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-align mt-8">
      <span class="card p-8">Esperando al servidor</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
