@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_mixins';

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: $ag-white;
  background-image: url('../../assets/img/banners/login-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content {
  position: relative;
}

@media only screen and (min-width: 450px) {
  .login-content {
    position: absolute;
    top: 20vh;
    right: 10vh;
    width: 60vh;
    height: 60vh;
    background-color: white;
    @include border-radius(50%);
    @include box-shadow(0, 0, 0, white);
  }
}
