.resultados {
  width: auto;
  height: auto;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.linea-nueva-button {
  margin-top: 10px;
  width: 250px;
  background-color: #3E5F89 !important;
  font-weight: 700;
}

.linea-nueva {
  margin-top: 10px;
  width: 250px;
  font-weight: 300;
  color: #3E5F89 !important;
}

.subdistribuidor .dropdown-content {
  background: #3E5F89 !important;
}

.subdistribuidor .dropdown-content li a,
.subdistribuidor .dropdown-content li span {
  color: #3E5F89 !important;
}

.subdistribuidor label {
  font-size: 16px;
  color: #3E5F89 !important;
  left: 0;
  font-weight: 700;
}
