<div class="resultados">


  <div class="input-field col s12 subdistribuidor" *ngIf="callCenter !== undefined; else tipoActivacion">
    <select (change)="goActivacion($event.target.value)">
      <option value="" selected>Elija un subdistribuidor</option>
      <option [value]="distribuidor.usuario_id"
              *ngFor="let distribuidor of distribuidores"> {{distribuidor.nombre}}</option>
    </select>
    <label>Subdistribuidor</label>
  </div>

  <ng-template #tipoActivacion>
    <div class="row">
      <div class="col s12 center linea-nueva">
        Selecciona el tipo de activación
      </div>
    </div>

    <div class="row">
      <div class="col s12 center">
        <a (click)="goActivacion()" class="darken-4 btn-small linea-nueva-button">Linea Nueva </a>
      </div>
    </div>
  </ng-template>

</div>
