<!--div class="row" style="padding-bottom:10px;">
  <div class="col title" [routerLink]="['..']">
    <a class=" text_blue">Banners</a>
    <i class="material-icons left text_blue">keyboard_backspace</i>
    <i class="material-icons left text_blue">view_carousel</i>
  </div>
</div-->
<div class="container pt-8"> 
  <ng-container>
    <div class="text-center pt-6 " *ngIf="bIsLoading">
      <div class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!bIsLoading">
      <div class="col s1"></div>
      <div class="col s10">
        <div class="row">
          <div class="col s12 centered">
            <div class="file-dragdrop" (dragover)="dragoverFile($event)" (dragend)="dragEnd($event)"
              (dragleave)="dragEnd($event)">
              <div class="dropzone" [class.active]="isActions == 1" (drop)="dropFiles($event)">
                <i class="material-icons green-text  extrabig" >
                  backup
                </i>
                <p class="mt fs-b blue-text ">
                  Puedes arrastrar la imagen desde tu computadora aquí. <br />Las medidas de banner deben 
                  ser de 1920 x 1080 pixéles en formato
                  png.
                </p>
                <div class="mt-max" [style.opacity]="isActions == 1 ? '0' : '1'">
                  <button class="btn btn-large blue waves-effect waves-light"
                    (click)="_util.triggerClick('file-upload')">Examinar</button>
                </div>
              </div>
              <div class="loader" *ngIf="isActions > 2 || ( isActions == 0 && files.length > 0 )">
                <div class="inner" *ngIf="isActions == 3 && files.length < 1">
                  <div class="px-max">
                    <div class="progress">
                      <div class="indeterminate"></div>
                    </div>
                    <p class="mt-max fs-b blue-text text-darken-1">Cargando...</p>
                  </div>
                </div>
                <div class="inner max" *ngIf="isActions >= 4 || ( isActions == 3 && files.length > 0 )">
                  <div class="file-preview">
                    <div class="file-container" *ngFor="let item of files; let i = index" [@slide]="'normal'">
                      <i class="material-icons circle icon-menu">&#xE24D;</i>
                      <i class="material-icons circle icon-menu hid" (click)="removeFiles(i)">&#xE872;</i>
                      <span class="title fs-b fw-b">{{ item?.name }}</span>
                      <!-- <p class="m-0 grey-text text-darken-1"><b>Tamaño:</b>
                          {{ (item?.size/1000) | number:'.2' }}
                          KB</p> -->
                      <img [src]="item?.base64" [alt]="item.name" class="w-90">
                    </div>
                    <div class="file-container" *ngIf="isActions == 3 && files.length > 0" [@slide]="'normal'">
                      <i class="material-icons circle green">&#xE24D;</i>
                      <div class="progress">
                        <div class="indeterminate"></div>
                      </div>
                      <p class="mt-min grey-text text-darken-1">Cargando...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <input type="file" id="file-upload" name="xmlFile" [accept]="sTypesAccept" (change)="displayFiles($event)" accept="image/x-png"
          hidden style="display:none">
      </div>
      <div class="col s1"></div>
    </div>


   


    <div *ngIf="files.length>0">
      <p class="mt fs-b blue-textAct text-darken-4 text_update">
        Para actualizar. Arrastra la imagen desde tu computadora sobre la imagen de abajo. <br />Las medidas de banner deben 
        ser de 1920 x 1080 pixéles en formato
        png.
      </p>
      <div class="buttonsUpdate">
        <button class="waves-effect waves-light btn grey accent-1 left boton" (click)="deleteBanner(nIdBanner)" *ngIf="nIdBanner"
          [disabled]="bIsLoading">
          Eliminar
        </button>
        <button class="waves-effect waves-light btn grey accent-1 left boton" (click)="cancelarImagen()" *ngIf="!nIdBanner"
          [disabled]="bIsLoading">
          Cancelar
        </button>
        <button class="waves-effect waves-light btn blue darken-4 right boton" (click)="enviarImagen()" *ngIf="!nIdBanner"
          [disabled]="bIsLoading">
          Aceptar
        </button>
        <button class="waves-effect waves-light btn blue darken-4 right boton" (click)="updateBanner()" *ngIf="nIdBanner"
          [disabled]="bIsLoading">
          Guardar
        </button>
      </div>
    </div>
  </ng-container>
</div>