@import 'src/assets/styles/_variables';
.centered{
    position: relative;
    top: 50%;
    transform: translate(0%, 50%);
    overflow-x: hidden;
}
.text_update{
    position: absolute;
    top: 5%;
    transform: translate(25%, 0%);
    overflow-x: hidden;
    text-align: center;
}
.buttonsUpdate{
    position: absolute;
    top: 40rem;
    right: 30%;
    transform: translate(50%, 0%);
    overflow-x: hidden;
    text-align: center;
}
.boton{
    margin: 1em;
}
.title{
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
}
.blue-text{
    font-size: 1.2rem;
}
.inner .max{
    position: relative;
    width: 100%;
    height: 100%;
}.blue-textAct{
    position: relative;
    top: -15rem;
    transform: translate(0%, -100%);
    color:  #3e5f8a;
    font-size: 1.8vh;

}