
<div class="reporte-recargas ">
  <div class="row">
    <div class="col s12 m10 mt-1">
      <div class="row mb-0">
        <div class="col s4 red-text">
          <select
            class="browser-default input-personal"
            [(ngModel)]="tipoRecarga"
            name="tipoRecarga"
          >
            <option value="1" class="option-personal" selected
              >Recargas disponibles</option
            >
            <option value="2" class="option-personal"
              >Recargas realizadas</option
            >
          </select>
        </div>
        <div class="col s4">
          <input
            class="input-personal"
            placeholder="Fecha inicial"
            type="text"
            class="datepicker"
            id="fechaInicio"
          />
        </div>
        <div class="col s4">
          <input
            class="input-personal"
            placeholder="Fecha final"
            type="text"
            class="datepicker"
            id="fechaFin"
          />
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <input
            type="text"
            [(ngModel)]="iccid"
            class="input-personal"
            placeholder="ICCID"
            autocomplete="off"
          />
        </div>
        <div class="col s4">
          <input
            type="text"
            [(ngModel)]="numero"
            class="input-personal"
            placeholder="Numero"
            autocomplete="off"
          />
        </div>
        <div class="col s4">
          <input
            type="text"
            *ngIf="tipoRecarga == 2"
            class="input-personal"
            [(ngModel)]="nombre_usuario"
            placeholder="Nombre"
            autocomplete="off"
          />
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="col s12 align-right">
        <button class="btn color mt-4 right" (click)="sendFilter()">
          Filtrar
        </button>
      </div>
    </div>
    <div class="col s12 table-overflow-up">
      <div *ngIf="petition" class="lds-circle"><div></div></div>
      <table class="table-overflow" *ngIf="!petition && validationView()">
        <thead>
          <tr>
            <th>ID</th>
            <th>Número</th>
            <th>IMEI</th>
            <th>ICCID</th>
            <th>Recarga</th>
            <th>Producto</th>
            <th>Fecha Activación</th>
            <th>Fecha Vigencia</th>
            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="tipoRecarga == 1">
            <tr
              *ngFor="
                let recarga of recargasDisponibles
                  | paginate: { itemsPerPage: noReg, currentPage: page };
                let i = index
              "
              [class]="i % 2 == 0 ? 'lol' : ''"
            >
              <td>{{ recarga.id }}</td>
              <td>{{ recarga.numero }}</td>
              <td>{{ recarga.imei }}</td>
              <td>{{ recarga.iccid }}</td>
              <td>{{ recarga.recarga | currency }}</td>
              <td>{{ recarga.producto }}</td>
              <td>{{ recarga.fecha_activacion }}</td>
              <td>{{ recarga.fecha_vigencia }}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="tipoRecarga == 2">
            <tr
              *ngFor="
                let recarga of recargasRealizadas
                  | paginate: { itemsPerPage: noReg, currentPage: page };
                let i = index
              "
              [class]="i % 2 == 0 ? 'lol' : ''"
            >
              <td>{{ recarga.id }}</td>
              <td>{{ recarga.numero }}</td>
              <td>{{ recarga.imei }}</td>
              <td>{{ recarga.iccid }}</td>
              <td>{{ recarga.recarga | currency }}</td>
              <td>{{ recarga.producto }}</td>
              <td>{{ recarga.fecha_activacion }}</td>
              <td>{{ recarga.fecha_vigencia }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    
    <div
      *ngIf="validationView()"
      class="col s12 text-center mt-1 align-center justify-center"
    >
      <div class="col s3" *ngIf="validationView()">
        <button (click)="generateExcel()" [disabled]="(tipoRecarga == 1 && !recargasDisponibles) || (tipoRecarga == 2 && !recargasRealizadas)"
          class=" left btn verde">
          Descargar
        </button>
      </div>
    
    
    <div class="col s6 right" *ngIf="validationView()">
      <pagination-controls
        (pageChange)="page = $event"
        class="right my-pagination"
        responsive="true"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
  </div>
  <div class="container" *ngIf="!validationView()">
    <div class="row pt-6">
      <div class="col s12 text-center textNotRegister">
        <h3>No se encontraron reportes de recargas </h3>
      </div>
    </div>
  </div>
  <!-- <div class="card" style="overflow-y: scroll">
  </div> -->
</div>
