

<div class="container pt-8">
    <ng-container>
        <div
            class="text-center pt-6 "
            *ngIf="bIsLoading"
        >
            <div class="preloader-wrapper big active ">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row"
            *ngIf="!bIsLoading"
        >
            <div class="col s1"></div>
            <div class="col s10">
                <div class="row">
                    <div class="col s12 centered">
                        <div
                            class="file-dragdrop"
                            (dragover)="dragoverFile($event)"
                            (dragend)="dragEnd($event)"
                            (dragleave)="dragEnd($event)"
                        >
                            <div
                                class="dropzone"
                                [class.active]="isActions == 1"
                                (drop)="dropFiles($event)"
                            >
                                <i class="material-icons green-text extrabig" >
                                    backup
                                </i>
                                <p class="mt fs-b blue-text text-darken-4">
                                    Puedes arrastrar la imagen desde tu computadora aquí. <br />el formato debe de ser
                                    exclusivamente .XLS
                                </p>
                                
                                <div
                                    class="mt-max"
                                    [style.opacity]="isActions == 1 ? '0' : '1'"
                                >
                                    <button
                                        class="btn btn-large blue darken-4 waves-effect waves-light"
                                        (click)="_util.triggerClick('file-upload')"
                                    >
                                        Examinar
                                    </button>
                                </div>
                            </div>
                            <div
                                class="loader"
                                *ngIf="isActions > 2 || ( isActions == 0 && files.length > 0 )"
                            >
                                <div
                                    class="inner"
                                    *ngIf="isActions == 3 && files.length < 1"
                                >
                                    <div class="px-max">
                                        <div class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                        <p class="mt-max fs-b blue-text text-darken-1">Cargando...</p>
                                    </div>
                                </div>
                                <div
                                    class="inner max"
                                    *ngIf="isActions >= 4 || ( isActions == 3 && files.length > 0 )"
                                >
                                    <div class="file-preview">
                                        <div
                                            class="file-container"
                                            *ngFor="let item of files; let i = index"
                                            [@slide]="'normal'"
                                        >
                                            <i class="material-icons circle icon-menu">&#xE24D;</i>
                                            <i
                                                class="material-icons circle icon-menu hid"
                                                (click)="removeFiles(i)"
                                            >
                                                &#xE872;
                                            </i>
                                            <span class="title fs-b fw-b">{{ item?.name }}</span>
                                            <p class="m-0 grey-text text-darken-1">
                                                <b>Tamaño:</b>
                                                {{ (item?.size / 1000) | number:'.2' }} KB
                                            </p>
                                        </div>
                                        <div
                                            class="file-container"
                                            *ngIf="isActions == 3 && files.length > 0"
                                            [@slide]="'normal'"
                                        >
                                            <i class="material-icons circle green">&#xE24D;</i>
                                            <div class="progress">
                                                <div class="indeterminate"></div>
                                            </div>
                                            <p class="mt-min grey-text text-darken-1">Cargando...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="row"
                    *ngIf="files.length > 0"
                >
                    <div class="col s6 offset-s6">
                        <button
                            class="btn btn-large blue darken-4 waves-effect waves-light"
                            (click)="sendFile()">
                            <i class="material-icons">save</i>
                            Enviar
                        </button>
                    </div>
                </div>


                <!-- Modal Structure -->
                <div
                    id="registros-duplicados"
                    class="modal modal-fixed-footer"
                >
                    <div class="modal-content">
                        <div class="center mb-8">
                            <span class="alert">
                                <i class="material-icons">error_outline</i>
                            </span>
                            <h4>Los siguientes registros ya existen</h4>
                            <label>
                                <input
                                    id="checkAll"
                                    type="checkbox"
                                    value="0"
                                >
                                <span>Seleccionar Todos</span>
                            </label>
                        </div>


                        <table>
                            <thead>
                                <tr>
                                    <th>IMEI</th>
                                    <th>ICCID</th>
                                    <th>MONTO</th>
                                    <th>Elige</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let registro of registerLines">
                                    <td>{{registro.imei}}</td>
                                    <td>{{registro.iccid}}</td>
                                    <td>{{registro.recarga | currency}}</td>
                                    <td>
                                        <p>
                                            <label>
                                                <input
                                                    type="checkbox"
                                                    value="{{registro.iccid}}"
                                                >
                                                <span></span>
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a
                            class="modal-close waves-effect waves-red btn-flat"
                            (click)="sendConfirm(false)"
                        >
                            Cancelar
                        </a>
                        <a
                            class="modal-close waves-effect waves-green btn-flat"
                            (click)="sendConfirm(true)"
                        >
                            Aceptar
                        </a>
                    </div>
                </div>


                <input
                    type="file"
                    id="file-upload"
                    name="xmlFile"
                    [accept]="sTypesAccept"
                    (change)="displayFiles($event)"
                    hidden
                    style="display:none"
                >
            </div>
            <div class="col s1"></div>
        </div>
    </ng-container>
</div>
