
<div class=" container" *ngIf="files.length<=0">
    <div class="row pt-6">
        <div class="col s12 text-center textNotQR">
            <h3>No se encontraron códigos QR</h3>
        </div>
    </div>
</div>
<div class="container" *ngIf="files.length>0">
    <div class="row m-0">
        <div class="input-field search-field z-depth-1 col s12 ">
            <i class="material-icons prefix">search</i>
            <input
                id="search"
                type="text"
                [(ngModel)]="search"
                placeholder="Buscar código QR"
            >
        </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1">
        <div id=tablaUsuarios>
          <table class="highlight responsive-table">
            <thead>
              <tr>
                <th >ID</th>
                <th>Etiquetas</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <ng-container *ngFor="let file of ( search == '  ' ? files : ( files | filter: { nombre_archivo : search } : false
              | paginate: { itemsPerPage: noReg, currentPage: page } )); index as i;trackBy: trackByFn;">
  
              <tr [class]="i % 2 == 0 ? 'lol' : ''">
                <td> {{ file.id }}  </td>
                <td> {{ file.nombre_archivo }} </td>
                <td class="text-center">
                  <button class="blue-text btn_" [routerLink]="[file.id]"><i class="material-icons right text_blue ">visibility</i></button>
                </td>
                
              </tr>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
</div>
<div class="row fixed-bottom">
  <div class="col " >
    <div class="">
      <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
        nextLabel=""></pagination-controls>
  
    </div>
  </div>
  <a
    class="btn-floating btn-large waves-effect waves-light indigo darken-4"
    [routerLink]="['loadFile']"
>
    <i class="material-icons">add</i>
</a>
<a
    class="btn-floating btn-large waves-effect waves-light indigo darken-4"
    id="labels"
    [routerLink]="['labels']"
>
    <i class="material-icons">credit_card</i>
</a>
  
</div>
