@import 'src/assets/styles/_variables';
#labels {
  right: 6em;
}
.textNotQR {
  top: 0%;
  transform: translate(0%, 50%);
  color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.title{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}
.btn_{
  cursor: pointer;
    background-color:white;
    color:white;
    border: none;
    outline:none;
}
html {
  line-height: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
.container{
  width: 85%;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}
.collapsible {
  border-top: 0px transparent !important;
  border-right: 0px transparent !important;
  border-left: 0px transparent !important;
  margin: 0.5rem 0 1rem 0;
      margin-left: 0px;
}
.waves-light{
  margin-left: 7px;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #1c3b72 !important;
}
.fixed-bottom{
  position: absolute;
  bottom: -7px;
  right: 10%;
}


