
<div class="reporte-recargas">
  <div class="row">
    <div class="col s12 mt-16">
        <div class="card">
          <div class="row">
            <div class="col s6">
              <div class="card">
                <input  [(ngModel)]="imei_iccid" type="text" onkeypress="soloNumeros(event)" placeholder="IMEI O ICCID" min="15" minlength="15" maxlength="19">
              </div>
            </div>
            <div class="col s6">
              <div class="valign-wrapper enviar-filtro">
                <a class="waves-effect waves-light btn" (click)="searchStatus()">Buscar</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <div class="container" *ngIf="isEmpty">
    <div class="row pt-6">
      <div class="col s12 text-center textNotRegister">
        <h3>No se encontraron registros </h3>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="isEmpty">
    <div class="card">
        <table class="table table-bordered">
            <!--th class="tdStatusTitulo" colspan="6">Inventario Teledata</th>
            <tr>
              <td>
                <table class="table table-bordered">
                  <tr>
                    <td class="tdStatus">Facturación fecha:</td>
                    <td>{{lsStatus?.inventarioAg?.fechaFacturacion}}</td>
                    <td class="tdStatus">Número de factura:</td>
                    <td>{{lsStatus?.inventarioAg?.numeroFactura}}</td>
                    <td class="tdStatus">Número de remisión:</td>
                    <td>{{lsStatus?.inventarioAg?.numeroRemision}}</td>
                  </tr>
                  <tr>
                      <td class="tdStatus">Estatus:</td>
                      <td>{{lsStatus?.inventarioAg?.statusInventario}}</td>
                      <td class="tdStatus">Sucursal:</td>
                      <td>{{lsStatus?.inventarioAg?.sucursal}}</td>
                      <td class="tdStatus">Tipo de producto:</td>
                      <td>{{lsStatus?.inventarioAg?.tipoProducto}}</td>
                    </tr>
                    <tr>
                        <td class="tdStatus">Usuario:</td>
                        <td>{{lsStatus?.inventarioAg?.usuarioAsociado}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                </table>
              </td>
            </tr-->
            <th class="tdStatusTitulo" colspan="6">Venta</th>
            <tr>
              <td>
                <table class="table table-bordered">
                  <tr>
                    <td class="tdStatus">Cliente:</td>
                    <td>{{lsStatus?.venta?.cliente}}</td>
                    <td class="tdStatus">Estado:</td>
                    <td>{{lsStatus?.venta?.estado}}</td>
                    <td class="tdStatus">Fecha:</td>
                    <td>{{lsStatus?.venta?.fechaVenta}}</td>
                  </tr>
                  <tr>
                    <td class="tdStatus">Folio:</td>
                    <td>{{lsStatus?.venta?.folio}}</td>
                    <td class="tdStatus">Vendedor:</td>
                    <td>{{lsStatus?.venta?.vendedor}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </td>
            </tr>
            <!--th class="tdStatusTitulo" colspan="6">Activación</th>
            <tr>
              <td>
               <table class="table table-bordered">
                 <tr>
                   <td class="tdStatus">Folio:</td>
                   <td>{{lsStatus?.activacion?.folio}}</td>
                   <td class="tdStatus">ICCID:</td>
                   <td>{{lsStatus?.activacion?.iccid}}</td>
                   <td class="tdStatus">IMEI:</td>
                   <td>{{lsStatus?.activacion?.imei}}</td> 
                 </tr>
                 <tr>
                    <td class="tdStatus">Número:</td>
                    <td>{{lsStatus?.activacion?.numero}}</td>
                    <td class="tdStatus">Tipo de activación:</td>
                    <td>{{lsStatus?.activacion?.tipoActivacion}}</td>
                    <td class="tdStatus">Usuario:</td>
                    <td>{{lsStatus?.activacion?.usuarioActivacion}}</td> 
                 </tr>
                 <tr>
                  <td class="tdStatus">Observaciones:</td>
                  <td colspan="5">{{lsStatus?.activacion?.observacionesActivacion}}</td>
                 </tr>
               </table>
              </td>
            </tr-->
            <th class="tdStatusTitulo" colspan="6">Recarga</th>
            <tr>
              <td>
                <table class="table table-bordered">
                  <tr>
                    <td class="tdStatus">Estatus:</td>
                    <td>{{lsStatus?.recarga?.estatusRecarga}}</td>
                    <td class="tdStatus">Fecha de recarga:</td>
                    <td>{{lsStatus?.recarga?.fechaRecarga}}</td>
                    <td class="tdStatus">Folio:</td>
                    <td>{{lsStatus?.recarga?.folio}}</td>
                  </tr>
                  <tr>
                      <td class="tdStatus">Importe:</td>
                      <td>{{lsStatus?.recarga?.importe}}</td>
                      <td class="tdStatus">Usuario:</td>
                      <td>{{lsStatus?.recarga?.usuarioRecarga}}</td>
                      <td></td>
                      <td></td>
                    </tr>
                </table>
              </td>
            </tr>            
          </table>
    </div>
  </div>
</div>