@import 'src/assets/styles/_variables';
.textNotRegister {
  top: 0%;
  transform: translate(0%, 60%);
  color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.tdStatus
{
    font-weight: 500;
    // font-size: 19px;
}

.tdStatusTitulo
{
    font-weight: 500;
    font-size: 19px;
    text-decoration: underline;
}
.title{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
  }
  .text_blue{
    color:  #3e5f8a;
  }
  .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
}