@import 'src/assets/styles/_variables';
#tblVentas {
    color: #1C3B72;
    border-radius: 10px !important;
    box-shadow: 0px 0px 0px 1px #1C3B72;
}

.striped-simple tbody tr:nth-child(odd) {
    background: #A0B1C6 !important;
}

#tblVentas tbody tr:hover {
    background: #748CAB !important;
    cursor: pointer;
}



.btn-floating {
    background-color: #1C3B72 !important;
}
.reporte-recargas a.btn {

    color: white !important;
}
.textNotVentas {
    
    transform: translate(0%, 50%);
    color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.title{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
}
.text_blue{
    color:  #3e5f8a;
}
.text_white{
    color:  #ffffff !important; 
    opacity: 1;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #1c3b72 !important;
  }