<div class="row" style="padding-bottom:10px;">
	<div class="col title" [routerLink]="['..']">
	  <a class=" text_blue">Ventas</a>
	  <i class="material-icons left text_blue">keyboard_backspace</i>
	  <i class="material-icons left text_blue">attach_money</i>
	</div>
  </div>
<div class="reporte-recargas">
	<div class="row">
		<div class="col s12 mt-16">
			<div class="card">
				<div class="row">
					<div class="col s1"></div>
					<div class="col s3">
						<input [(ngModel)]="fechaInicioBusqueda"  placeholder="Fecha inicial" type="text" class="datepicker dp" id="fechaInicio">
					</div>
					<div class="col s1"></div>
					<div class="col s3">
						<input placeholder="Fecha final" type="text" class="datepicker dp" id="fechaFin" [(ngModel)]="fechaFinBusqueda">
					</div>
					<div class="col s4">
						<div class="valign-wrapper enviar-filtro">
							<a class="waves-effect waves-light btn" (click)="getSale()">Buscar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="container" *ngIf="lstSales.length>0">
					<div class="row pt-4">
						<div class="col s12 ">
						  <div class="row pt-4">
							<div class="text-center">
							  <table>
								<thead>
								  <tr class="text-bold">
									<th>Número de orden</th>
									<th>Número de ITEMS</th>
									<th>Cliente </th>
									<th>Fecha</th>
									<th>Acciones</th>
								  </tr>
								</thead>
								<tbody>
								  <tr
								  *ngFor="let element of ( search == '  ' ? lstSales : ( lstSales | filter: { id : search } : false
								  | paginate: { itemsPerPage: noReg, currentPage: page } )); index as i;trackBy: trackByFn;">
									<td> {{element.id}}</td>
									<td> {{element.numero_items}}</td>
									<td> {{ element.subdistribuidor.nombre }}</td>
									<td>  {{element.fecha_creacion}} </td>
									<td>
									  <i class="material-icons text_blue " style="cursor: pointer" (click)="goToSale(element.id)">visibility</i>
									</td>
								  </tr>
								</tbody>
							  </table>
							</div>
						  </div>
					
						</div>
					  </div>
					  <div class="col right" >
						<div class="">
						  <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
							nextLabel=""></pagination-controls>
						</div>
					  </div>
				</div>
				<div class="container" *ngIf="lstSales.length<=0">
					<div class="row pt-6">
					  <div class="col s12 text-center textNotVentas">
						<h3>No se encontraron ventas </h3>
					  </div>
					</div>
				  </div>
				  
			</div>
		</div>
	</div>
	
</div>
<div class="row">
	<a class="btn-floating btn-large waves-effect waves-light ag-bg-blue" [routerLink]="['0']"><i class="material-icons">add</i></a>
</div>
