@mixin colors-list {
  @each $i in $ag-colors {
    .#{$class-prefix}bg-#{nth($i, 1)} {
      background-color: nth($i, 2);
    }

    .#{$class-prefix}text-#{nth($i, 1)} {
      color: nth($i, 2);
    }

    .#{$class-prefix}btn-#{nth($i, 1)} {
      background-color: nth($i, 2);
      border-color: nth($i, 2);
      color: if(nth($i, 2)=="white", #212121, #fff);
      @include box-shadow(0, 0, 0.2rem, rgba(0, 0, 0, 0.16));

      &:hover {
        //background-color: darken(nth($i, 2), 8);
        //border-color: darken(nth($i, 2), 8);
        color: if(nth($i, 2)=="white", #212121, #fff);
      }

      &:focus,
      &.focus {
        @include box-shadow(0, 0, 0.3rem, rgba($color: nth($i, 2), $alpha: 0.5));
        color: #fff;
      }
    }

    .#{$class-prefix}btn-outline-#{nth($i, 1)} {
      color: nth($i, 2);
      border-color: nth($i, 2);
      background-color: transparent;
      background-image: none;
      box-shadow: none;

      /* &:hover {
        background-color: nth($i, 2);
        border-color: nth($i, 2);
        color: if(nth($i, 2)=="white", #212121, #fff);
        @include box-shadow(0, 0, 0.3rem, rgba($color: nth($i, 2), $alpha: 0.5));
      } */

      /* &:focus,
      &.focus {
        @include box-shadow(0, 0, 0.3rem, rgba($color: nth($i, 2), $alpha: 0.5));
      } */
    }

    .#{$class-prefix}transition-#{nth($i, 1)} {

      &:hover,
      &:focus,
      &:active {
        background-color: nth($i, 2);
        color: if(nth($i, 2)=="white", #212121, #fff) !important;
        cursor: pointer;
      }
    }
  }
}
