<div class="carousel carousel-slider center" style="height: 100%">
  <div class="row carousel-fixed-item center">
    <div class="col s12 center-align">
      <h3 class="ag-text-dark">Bienvenido!cvsrvsrvr</h3>
    </div>
  </div>
  <!-- <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div> -->
  <div class="carousel-item red white-text" href="#one!">
    <h2>Primer banner</h2>
    <p class="white-text">. . .</p>
    <!-- <img style="width: 400px;margin: auto 0;" src="assets/img/logo/logoag.svg" alt="logo"> -->
  </div>
  <div class="carousel-item blue white-text" href="#two!">
    <h2>Segundo banner</h2>
    <p class="white-text">. . .</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Tercer banner</h2>
    <p class="white-text">. . .</p>
  </div>
</div>
