<img  class="logoImage" src="../../assets/img/banners/login-logo.png"/>

<form class="col s12">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align textWelcome">
          Recuperar contraseña 
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="input-field big-field col s7 offset-s2">
        <i class="material-icons prefix">email</i>
        <input formControlName="user" type="text" placeholder="Correo">
        
        <div class="col s12 center-align mb-8">
          <span class="ag-text-red " *ngIf="mailControl.hasError('email')">Este campo debe ser un email</span>
          <span class="ag-text-red " *ngIf="mailControl.hasError('required') && formSubmitted">Este campo es requerido</span>
        </div> 
      </div>
    </div>

    <div class="row buttons">
      <div class="col s2 offset-s3 p-0">
        <a class="waves-effect waves-light btn indigo darken-4 btn-ag-sec" [routerLink]="['..']">
          Cancelar
        </a>
      </div>
      <div class="col s2 offset-s3 p-0">
        <button class="waves-effect waves-light btn indigo darken-4 btn-ag-sec" (click)="sendMail()">
          Enviar
        </button>
      </div>
    </div>

</form>
