@import 'src/assets/styles/_variables';
button {
  width: 100%;
}
.image{
  position: relative;
  left: 0%;
  top: 60%;
  font-size: 18vh;
  color: #2c467c;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.7; /* Firefox */
}
.btn{
  background-color: transparent;
  box-shadow: 10px 10px 5px -200px rgba(255, 254, 254, 0);
  text-align: center; font-size: 2vh;
  text-transform: none;
  float: right !important;
}
.textTitle{
  position: absolute;
  top: 16vh;
  right: 40vw;
  width: 767px;
  height: 133px;
  font-size: 5rem; 
  text-align: center;
  color: $ag-dark-blue;
  font-weight: bold;
}
.logoImage{
  position: fixed;
    left: 2.7%;
    bottom: 5%;
    transform: translate(0%, 0%);
    width: 20vw;
}
.textWelcome{
  margin-top: 50px;
  color: black;
  font-size: 5vh;
}
h2, i{
  color: black;
}
input{
  color: black;
}
.input-field .prefix.active{
  color: grey
}