.activacion-detalle {
  border-collapse: separate;
  border-spacing: 1.5rem 0;
  border: #bbb 2px solid;
  border-radius: 1em;
  padding: 5px;
  margin: 30px;
  color: #3E5F89;
}

.activacion-detalle textarea {
  height: 100px;
  color: #3E5F89;
}

.recarga-button {
  background-color: #3E5F89;
  border-radius: 2rem;

}

.activacion-detalle ul li {
  display: inline;
  margin-left: 8%;
}

.activacion-detalle .status,
.activacion-detalle .recarga {
  margin: 0 30px;
}

.activacion-detalle .recarga ul li {
  margin-left: 0;
}

.activacion-detalle ul li:first-child {
  margin-left: 3%;
}

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #69b6d5;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin: -6px 10px;
}

.regular-radio:checked + label {
  background: #69b6d5;
  border: 2px solid #69b6d5;
}

.danger {
  color: #DB032E;
}
