<div class="activacion-detalle">

  <div class="row mt-16">

    <div class="col s9">
      <span class="text-bold">Folio de activación: </span>
      <span class="text-bold">#{{detail.Folio}}</span>
    </div>

    <div class="col s3 right-left fecha-activacion">
      <span class="text-bold">Fecha: </span>
      <span class="text-bold">{{detail.Fecha_creacion}}</span>
      <div>
        <span class="text-bold">Hora: </span>
        <span class="text-bold  ">{{detail.Hora_creacion}}</span>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col s8">
      <div class="col s2 text-bold"><span>Producto: </span></div>
      <div class="col s6"><span>{{detail.Producto}}</span></div>
    </div>

    <div class="col s8 left-align mt-6">
      <div class="col s2 text-bold"><span>Plan: </span></div>
      <div class="col s6"><span>{{detail.Plan}}</span></div>
    </div>

    <div class="col s8 left-align mt-6">
      <div class="col s2 text-bold"><span>Tarifa: </span></div>
      <div class="col s6"><span>{{detail.Tarifa}}</span></div>
    </div>

    <div class="col s8 left-align mt-6">
      <div class="col s2 text-bold"><span>ICCID: </span></div>
      <div class="col 6"><span>{{detail.ICCID}}</span></div>
    </div>

    <div class="col s8 left-align mt-6">
      <div class="col s2 text-bold"><span>IMEI: </span></div>
      <div class="col s6"><span>{{detail.IMEI}}</span></div>
    </div>

    <div class="col s8 left-align mt-6" *ngIf="detail.EstatusId != 4">
      <div class="col s2 text-bold"><span>Número: </span></div>
      <div class="col s6"><span>{{detail.numero}}</span></div>
    </div>

    <div class="col s8 left-align mt-6">
      <div class="col s2 text-bold"><span>Ciudad: </span></div>
      <div class="col s6"><span>{{detail.Ciudad}}</span></div>
    </div>

  </div>

  <div class="row">

    <div class="activacion-detalle status">

      <ul>
        <li>
          Enviado
          <input type="radio" id="1" name="radio-estatus" class="regular-radio"  disabled
            [checked]="detail.EstatusId == 1" /><label for="1"></label>
        </li>

        <li>
          Procesado
          <input type="radio" id="2" name="radio-estatus" class="regular-radio" disabled
            [checked]="detail.EstatusId == 2" /><label for="2"></label>
        </li>

        <li>
          Activación Exitosa
          <input type="radio" id="3" name="radio-estatus" class="regular-radio"  disabled
            [checked]="detail.EstatusId == 3" /><label for="3"></label>
        </li>

        <li>
          Activación fallida
          <input type="radio" id="4" name="radio-estatus" class="regular-radio"  disabled
            [checked]="detail.EstatusId == 4" /><label for="4"></label>
        </li>
      </ul>

    </div>

  </div>

  <div class="row">

    <div class="valign-wrapper right">

      <div class="center" *ngIf="detail.recarga != 0">

        <button type="submit" class="waves-effect waves-light btn accent-1 recarga-button" (click)="recargarLinea()">
          Realizar Recarga
        </button>

      </div>

      <div class="activacion-detalle recarga">
        <ul>
          <li>
            Recarga Exitosa
            <input type="radio" id="r-1" name="radio-recarga" class="regular-radio"  disabled
              [checked]="detail.status_recarga == 1" /><label for="r-1"></label>
          </li>

          <li>
            Recarga Fallida
            <input type="radio" id="r-2" name="radio-recarga" class="regular-radio"  disabled
              [checked]="detail.status_recarga == 2" /><label for="r-2"></label>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="row">

    <div class="col s12">

      <div class="col s2">
        <span class="text-bold">Observaciones: </span>
      </div>

      <div class="col s10">
        <textarea readonly>{{detail.message}}</textarea>

      </div>

    </div>

  </div>

</div>