<!-- BEGIN: ORDEN DE VENTA -->
<div class="container mt-20">
	<div class="card form-container">
		<!-- TOP -->
		<div class="row border-gray" style="padding-bottom:10px;">
			<div class="col m6">
				<a>Orden de venta</a>
			</div>
			<div class="col m6">
				<a class="right">{{saleID}}</a>
			</div>
		</div>
		<!-- BLOQUE FORMULARIO -->
		<div class="row m">
			<!-- EJECUTIVO -->
			<div class="input-field col m6 s12">
				<div *ngIf="lstVendedores && lstVendedores.length ==1">
						<label class="active">Ejecutivo (a)</label>
					<!-- <input type="text" placeholder="Ejecutivo (a)" id="txtEjecutivo" disabled
						[(ngModel)]="lstVendedores[0].nombre" /> -->
						<input type="text" placeholder="Ejecutivo (a)" id="txtEjecutivo" disabled
						[(ngModel)]="sNombreVendedor" />
				</div>
				<div *ngIf="lstVendedores.length>1">
					<label class="active">Ejecutivo (a)</label>
					<input id="nameVendedor" type="text" name="nameVendedor" list="lstVendedores"
						[(ngModel)]="sNombreVendedor" placeholder="Seleccione una opción" (change)="fetchImei()"
						(focusin)="keyupFilter()" (click)="keyupFilter()"
						[disabled]="!isNew || productsRequest.productos.length>0" #inputVendedores />
					<datalist id="lstVendedores">
						<option *ngFor="let item of lstVendedores">{{item.nombre}}</option> 
					</datalist>
				</div>

			</div>
			<!-- BOTONES -->
			<div class="input-field col m6 s12">
				<div class="col m12 s12">
					<a class="right top-align">{{ date | date: 'yyyy-MM-dd' }}</a>
				</div>
				<div class="input-field col m6 s12">
					<button *ngIf="isNew" class="waves-effect waves-light btn blue accent-1 btn-ag-sec" mz-button
						(click)="setGenericClient();">Cliente
						Génerico
					</button>
				</div>
				<div class="input-field col m6 s12">
					<button *ngIf="isNew" class="waves-effect waves-light btn blue accent-1 btn-ag-sec" mz-button
						(click)="bottomCrearSubdistribuidor.openModal()">Crear
						Subdistribuidor
					</button>
				</div>
			</div>
		</div>
		<!-- BLOQUE FORMULARIO -->
		<div class="row m-0">
			<!-- IMEI O ICCID -->
			<div class="col m6 s12">
				<div class="row m-0" *ngIf="isNew">
					<div class="input-field col m12 s12">
						<input type="text" name="empname" list="lstImei" [(ngModel)]="imeiAsString" />
						<datalist id="lstImei">
							<option *ngFor="let item of lstImei">{{item.codigo}}</option>
						</datalist>
						<label class="active">IMEI ó ICCID</label>
					</div>
					<div class="input-field col m12 s12 center m-0">
						<button class="waves-effect waves-light btn
									  blue accent-1 btn-ag-sec btn-large" [disabled]="imeiAsString.length == 0 || validSubmitted"
							(click)=validateImei();>
							Validar
						</button>
					</div>
				</div>
			</div>
			<!-- SUBDISTRIBUIDOR -->
			<div class="col m6 s12">
				<div class="row m-0">
					<div class="input-field col m12 s12">
						<label class="active">Subdistribuidor</label>
						<input id="nameSubdistribuidor" type="text" name="nameSubdistribuidor" list="lstSubdistribuidores"
						#cmbSubs [(ngModel)]="sNombreSubdistribuidor" placeholder="Seleccione una opción" (change)="setAddress()"
							(focusin)="keyupFilterSub()" (click)="keyupFilterSub()"
							[disabled]="!isNew" #cmbSubs />
						<datalist id="lstSubdistribuidores">
							<option *ngFor="let sub of lstSubdistribuidores">{{sub.nombre}}</option> 
						</datalist>
					</div>
					<div class="input-field col m12 s12">
						<input placeholder="Dirección" type="text" disabled [value]="address" />
						<label class="active">Dirección</label>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<hr />
		</div>
		<!-- BEGIN: TABLA PRODUCTOS -->
		<div class="row" [hidden]="productsRequest.productos.length == 0">
			<div class="col m10 s12" style="margin:10px;">
				<a>Productos agregados:</a>
			</div>
			<br>
			<table id="tblProductos" class="centered striped-simple">
				<thead>
					<tr>
						<th>#</th>
						<th>IMEI ó ICCID</th>
						<th>Descripción</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of productsRequest.productos; let i = index">
						<td>{{ i + 1 }}</td>
						<td>{{ product.imei_iccid }}</td>
						<td>{{ product.descripcion }}</td>
						<td>
							<a style="cursor: pointer;" (click)="deleteProduct(i);" *ngIf="isNew">
								<i class="material-icons">delete</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- END: TABLA PRODUCTOS -->
		<div class="row" *ngIf="isNew">
			<button class="waves-effect waves-light btn blue accent-1 btn-ag-sec right" (click)="submit()">
				Generar Venta
			</button>
		</div>
	</div>
</div>
<!-- END: ORDEN DE VENTA -->

<!-- BEGIN: MODAL CREAR SUBDISTRIBUIDOR -->
<mz-modal #bottomCrearSubdistribuidor [options]="modalOptions" [fixedFooter]="true" [fullscreen]="true">
	<mz-modal-header>
		<h4>Crear Subdistribuidor</h4>
	</mz-modal-header>
	<mz-modal-content>
		<form [formGroup]="form">
			<div class="form-group">
				<div class="row m-0">
					<div class="col m6 s12">
						<h5><small>Subdistribuidor</small></h5>
					</div>
					<div class="col m6 s12">
						<h5><small>Contacto</small></h5>
					</div>
				</div>
				<div class="row m-0">
					<!-- NOMBRE -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Nombre" id="txtNombre" formControlName="name"
							[(ngModel)]="this.subRequest.nombre" />
						<label class="active">Nombre</label>
					</div>
					<!-- TELEFONO -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="00 00 00 00" id="txtTelefono" formControlName="number"
							[(ngModel)]="this.subRequest.telefono" />
						<label class="active">Telefono</label>
					</div>
				</div>
				<div class="row m-0">
					<!-- APELLIDO PATERNO -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Apellido Paterno" id="txtApePat" formControlName="lastName"
							[(ngModel)]="this.subRequest.apellidoPaterno" />
						<label class="active">Apellido Paterno</label>
					</div>
					<!-- EMAIL -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Email" id="txtEmail" formControlName="email"
							[(ngModel)]="this.subRequest.correo" />
						<label class="active">Correo electrónico</label>
					</div>
				</div>
				<div class="row m-0">
					<!-- AELLIDO MATERNO -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Apellido Materno" id="txtApeMat"
							formControlName="secondLastName" [(ngModel)]="this.subRequest.apellidoMaterno" />
						<label class="active">Apellido Materno</label>
					</div>
					<!-- CARRIER -->
					<div class="input-field col m6 s12">
						<select materialize="material_select" id="carrier" name="carrier" #carrier
							[(ngModel)]="subRequest.carriedId" formControlName="carriedId">
							<option value="0" disabled selected> - Seleccione - </option>
							<option *ngFor="let item of carriers" [value]="item.carrier_id">{{ item.nombre }}</option>
						</select>
						<label>Carrier</label>
					</div>
				</div>
				<div class="row m-0">
					<!-- RFC -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="RFC" id="txtRFC" formControlName="rfc"
							[(ngModel)]="this.subRequest.rfc" />
						<label class="active">RFC</label>
					</div>
					<div class="input-field col m6 s12">
						<select materialize="material_select" id="typeUser" name="typeUser" #typeUser
							[(ngModel)]="subRequest.typeUser" formControlName="typeUser" >
							<option value="0" selected> Todos </option>
							<option value="1"> Vendedores </option>
							<option value="2"> Subdistribuidores </option>
							<label class="active">Tipo de usuario</label>
						</select>
					</div>
				</div>
				<div class="row m-0">
					<!-- TIPO PERSONA -->
					<div class="col m3 s6">
						<label>
							<input class="with-gap" name="group1" type="radio" checked [value]="1"
								[(ngModel)]="this.subRequest.tipoPersonId" [ngModelOptions]="{standalone: true}" />
							<span>Persona Física</span>
						</label>
					</div>
					<!-- TIPO PERSONA -->
					<div class="col m3 s6">
						<label>
							<input class="with-gap" name="group1" type="radio" [value]="2"
								[(ngModel)]="this.subRequest.tipoPersonId" [ngModelOptions]="{standalone: true}" />
							<span>Persona Moral</span>
						</label>
					</div>
					<div class="input-field col m6 s6">
						<input type="number" placeholder="Número Interno" id="selAgName" name="selAgName" formControlName="agNumber" #selAgName
							[(ngModel)]="subRequest.numero_Interno_AG_ID" />
							<label>Número Interno</label>
					</div>
				</div>
				<div class="row m-0"><br>
					<!-- RAZON SOCIAL -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Razón Social" id="txtRazonSocial" formControlName="social"
							[(ngModel)]="this.subRequest.razonSocial" />
						<label class="active">Razon Social</label>
					</div>
				</div>
				<div class="row m-0">
					<!-- DIRECCION -->
					<div class="input-field col m6 s12">
						<input type="text" placeholder="Direccion" id="txtDireccion" formControlName="address"
							[(ngModel)]="this.subRequest.direccion" />
						<label class="active">Dirección</label>
					</div>
				</div>
			</div>
		</form>
	</mz-modal-content>
	<mz-modal-footer>
		<div class="row right-align">
			<div class="col m4 s12 push-m5">
				<button class="waves-effect waves-light btn grey accent-1 btn-ag-sec"
					mz-modal-close>Cancelar</button>&nbsp;&nbsp;
			</div>
			<div class="col m4 s12 push-m4">
				<button class="waves-effect waves-light btn blue-grey accent-1 btn-ag-sec" subdistribuidorId
					(click)="submitSubdis()">Crear
					Subdistribuidor</button>
			</div>
		</div>
	</mz-modal-footer>
</mz-modal>
<!-- END: MODAL CREAR SUBDISTRIBUIDOR -->