#tblProductos {
    color: #1C3B72;
    border-radius: 10px !important;
}

.striped-simple tbody tr:nth-child(odd) {
    background: #A0B1C6 !important;
}

#tblProductos tbody tr:hover {
    background: #748CAB !important;
    cursor: pointer;
}

a, label{
    color: #1C3B72 !important;
}

.blue.accent-1 {
    background-color: #1C3B72 !important;
}

.btn-ag-sec {
    height: 3rem !important;
    font-size: .9rem;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
}
input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    font-size: 0px;
    color: transparent ;
    opacity:0 ;
  }
  
  .button-wrap {
    position: relative;
  }
  
  .new-button {
      display: inline-block;
      padding: 8px 12px;
      width: 96px; 
      cursor: pointer;
      border-radius: 4px;
      background-color: #1C3B72 ;
      font-size: 16px;
      color: #ffffff !important;
  }
  .labelLogo{
    position: absolute;
    z-index: -1;
    top: 5px;
    border-bottom: 1px solid #ccc !important;
    border-radius: 8px;
    margin-top: 0.5em;
  }
  
  input::placeholder {
    color: #000000;
    opacity: 0.25;
  }
[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #1C3B72;
}
[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
    border: 2px solid #1C3B72;
}
.title{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
}
.text_blue{
    color:  #3e5f8a;
}