<img class="login-image" src="assets/img/logo/logo-login.png" alt="logo" *ngIf="banners.length<=0">


<div class="container">
  <div class="col"><p></p></div>
  <div class="row pt-1">
    <h2 class="text center-align col s12 m-0"> Bienvenido </h2>
    <h6 class="text center-align col s12">{{ fullName }}</h6>
  </div>

  <div class="row centered">
    <div class="col s12 text-center ">
      <div id="main-carousel" class="carousel carousel-slider" #carousel materialize="carousel">
        <a class="carousel-item" href="#{{i}}" *ngFor="let banner of banners; let i = index"
          (click)="clickImage($event)">
          <img class="w-80" [src]="banner.image"></a>
      </div>
    </div>
  </div>

</div>