@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_mixins';
.text{
    color: $ag-dark-blue;

}
.container{
    h2{
        font-size: 5vh;
    }
    h6{
        font-size: 2vh;    
    }
}
.text-container{
    font-size: 5vh;
    top: -150px;
    color: white;
}
.centered{
    top: 50%;
    transform: translate(0%, 10%);
}
.login-image{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 576px;
    height: 110px;
}
.carousel{
    position: absolute;
    height: 70vh !important ; 
}