
<div class="reporte-recargas">
  <div class="row">

    <div class="col s12 mt-16">

      <div class="row">
        <div class="col s6">
          <div class="card">
            <select id="sellers" name="sellers" [(ngModel)]="idSeller" #sellers>
              <option *ngFor="let obj of lstSubdistribuidores" value="{{obj.usuarioId}}"> {{obj.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col s6">
          <div class="valign-wrapper enviar-filtro">
            <a class="waves-effect waves-light btn" (click)="searchInventory()">Buscar</a>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="isEmpty">
        <div class="row pt-6">
          <div class="col s12 text-center textNotRegister">
            <h3>No se encontraron registros </h3>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!isEmpty">
        <div class="container" >
            <div class="col s12 ">
              <div class="text-center">
                <table>
                <thead>
                  <tr class="text-bold">
                  <th>Fecha Orden Venta</th>
                  <th>Folio Orden Venta</th>
                  <th>IMEI / ICCID </th>
                  <th>Vendedor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let element of ( search == '  ' ? res : ( res | filter: { FolioVenta : search } : false
                  | paginate: { itemsPerPage: noReg, currentPage: page } )); index as i;trackBy: trackByFn;">
                  <td> {{element.fechaOrdenVenta | date}}</td>
                  <td> {{element.FolioVenta}}</td>
                  <td> {{element.IMEI_ICCID }}</td>
                  <td> {{element.nombre_Vendedor}} </td>
                  
                  </tr>
                </tbody>
                </table>
              </div>
              </div>
              <div class="col s3" *ngIf="!isEmpty">
                <button (click)="generarExcel()" class=" left btn verde ">
                  Descargar
                </button>
              </div>
              <div class="col right" >
              <div class="">
                <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
                nextLabel=""></pagination-controls>
              </div>
            
              </div>
          
            </div>
            </div>


    </div>
  </div>
</div>