@import 'src/assets/styles/_variables';
.textNotRegister{
  top: 0%;
    transform: translate(0%, 50%);
    color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
.lista-activaciones {
  
  padding: 5px;
  margin-top: 30px;
}
.title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}

.activacion {
  color: #000000;
}

.activacion h5 {
  color: #adb5bd;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #3E5F89;
  box-shadow: 0 1px 0 0 #3E5F89;
}

div.busqueda button {
  margin-left: 30px;
  margin-top: 30px;
  padding: 0 20px;
}

.activaciones {
  border-collapse: separate;
  border-spacing: 1.5rem 0;
  border: #bbb 2px solid;
  border-radius: 1em;
  padding: 5px;
}

.activaciones thead tr th {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.activaciones td {
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}

.activaciones th:before,
.activaciones td:before {
  content: '';
  height: 1px;
  width: 25px;
  background: #dcdcdc;
  display: block;
  position: absolute;
  left: -25px;
  bottom: -1px;
}

.activaciones tr:last-child td {
  border-bottom: none;
}

.activaciones tr:last-child td:before {
  background: transparent;
}

.hover:hover {
  cursor: pointer !important;
}


/*Angular Material*/
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-paginator {
  margin: 20px 0;
}
