
<ng-container
  *ngIf="isEmptyList; then notHasActivation; else hasActivation">
</ng-container>

<ng-template #hasActivation>
  <div class="container mt-16 activacion">

    <div class="row">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="IMEI o ICCID">
      </mat-form-field>

      <div class="lista-activaciones">
        <table cdk-table [dataSource]="dataSource" id="table-activaciones">
          <!-- Position Column -->
          <ng-container cdkColumnDef="Folio">
            <th cdk-header-cell *cdkHeaderCellDef>Folio</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.Folio}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="IMEI">
            <th cdk-header-cell *cdkHeaderCellDef>IMEI</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.IMEI}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container cdkColumnDef="ICCID">
            <th cdk-header-cell *cdkHeaderCellDef>ICCID</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.ICCID}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container cdkColumnDef="TipoActivacion">
            <th cdk-header-cell *cdkHeaderCellDef>Tipo de Activacion</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.TipoActivacion}} </td>
          </ng-container>

          <ng-container cdkColumnDef="Numero">
            <th cdk-header-cell *cdkHeaderCellDef>Número</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.Numero}} </td>
          </ng-container>

          <ng-container cdkColumnDef="Estatus">
            <th cdk-header-cell *cdkHeaderCellDef>Status</th>
            <td cdk-cell *cdkCellDef="let element"> {{element.Estatus}} </td>
          </ng-container>
          <ng-container cdkColumnDef="Acciones">
            <th cdk-header-cell *cdkHeaderCellDef>Status</th>
            <td cdk-cell *cdkCellDef="let element"> <i class="material-icons text_blue " style="cursor: pointer" (click)="showDetail(i)">visibility</i> </td>
          </ng-container>

          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" (click)="showDetail(row)" class="hover"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</ng-template>

<ng-template #notHasActivation>
  
    <div class="row pt-6">
      <div class="col s12 text-center textNotRegister">
        <h3>No se encontraron activaciones y recargas </h3>
        
      </div>
    </div>



</ng-template>

<a class="btn-floating btn-large waves-effect waves-light indigo darken-4" [routerLink]="['activatekit']">
  <i class="material-icons">add</i>
</a>


