@import 'src/assets/styles/_variables';
.enviar-filtro{
  margin-top: -8px;
}
.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto; /*<-*/
}
.title{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}

.table-mz {
  flex: 1 1 auto;
  /* overflow: auto; */ /*<-*/
  max-height: 100%;
  display: table; /*<-*/
}
.lds-circle {
  display: flex;
  align-items: center;
  margin: 10em auto;
  justify-content: center;
  width: 100%;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #3e5f8a;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.textNotRegister {
  top: 0%;
  transform: translate(0%, 60%);
  color: grey;
    p {
        font-size: 2rem;
    }
    h3 {
        font-size: 3.5rem;
    }
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.verde {
  margin-top: 10px;
  background: #8cbe29;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #1c3b72 !important;
}
