
<div class="reporte-recargas">
  <div class="row">
    <div class="col s12">
      <div class="row"><p></p></div>
      <div class="row">
        <div class="col s3">
          <input
            placeholder="Fecha inicial"
            type="text"
            class="datepicker"
            id="fechaInicio"
            (change)="changeFirst($event)"
          />
        </div>
        <div class="col s3">
          <input
            placeholder="Fecha final"
            type="text"
            class="datepicker"
            id="fechaFin"
            (change)="changeLast($event)"
          />
        </div>
        <div class="col s3">
          <select
            id="productos"
            name="productos"
            #products
            [(ngModel)]="request.producto"
          >
            <option *ngFor="let obj of lstProductos" value="{{ obj.id }}">{{
              obj.producto
            }}</option>
          </select>
        </div>
        <div class="col s3">
          <div class="valign-wrapper enviar-filtro">
            <button
              type="button"
              class="waves-effect waves-light btn light-blue darken-4"
              [disabled]="loading"
              (click)="searchNumer()"
            >
              {{ loading ? "Buscando..." : "Buscar" }}
            </button>
          </div>
        </div>
      </div>



      <div class="row" *ngIf="!isEmpty">
          <div class="col s10 offset-s1 ">
            <div class="text-center">
              <table>
                <thead>
                  <tr class="text-bold">
                  <th>Número</th>
                  <th>IMEI</th>
                  <th>ICCID </th>
                  <th>Estatus</th>
                  <th>Estatus Telcel</th>
                  <th>Error</th>
                  <th>Producto</th>
                  <th>Fecha activación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let element of ( search == '  ' ? lstDetails : ( lstDetails | filter: { numeroTelefono : search } : false
                  | paginate: { itemsPerPage: noReg, currentPage: page } )); index as i;trackBy: trackByFn;">
                  <td> {{element.numeroTelefono}}</td>
                  <td> {{element.imei}}</td>
                  <td> {{element.iccid }}</td>
                  <td> {{element.estatusDescripcion}} </td>
                  <td> {{element.estatusTelcel}}</td>
                  <td> {{element.error}}</td>
                  <td> {{element.producto }}</td>
                  <td> {{element.fechaActivacion}} </td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col s10 offset-s1">
          <div class="col s3" *ngIf="!isEmpty">
            <button (click)="getExcel()" class=" left btn verde ">
                Descargar
            </button>
          </div>
          <div class="col right" >
            <div class="">
              <pagination-controls (pageChange)="page = $event" class="right my-pagination" responsive="true" previousLabel=""
                nextLabel=""></pagination-controls>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
