.title{
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  i {
      margin-top: 8px;
  }
}
.text_blue{
  color:  #3e5f8a;
}
.subtitle{
  font-size: 1.5rem;
}
#box {
  border-radius: 10px;
  width: 10.2cm;
  height: 4.8cm;
  border: solid #ccc 2px;
  margin: 0 auto;
}
#box-container {
  justify-content: space-between ;
  align-items: center;
  display: flex;
  min-height: 200px;
  margin-bottom: 10%;
  p {
    font-size: 1.15rem;
    color:  #3e5f8a;
    max-width: 30%;
  }
}
#photo {
  display: none;
}
#menu {
  margin-top: 3rem;
  max-height: 400px;
  overflow-y: auto;
}
.content {
  max-width: 1024px;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  margin-top: 5em;
  justify-content: center;
  margin: 4em auto;
}
.collection {
  border-radius: 10px;
}
#nombre_prod {
  display: inline-block;
  justify-content: end;
  align-items: end;
  height: 100% !important;
}
#nombre_prod > p {
  margin: 0;
}
.vacio {
  width: 100%;
  height: 100%;
}
