<a
  class="btn-floating btn-large waves-effect waves-light right blue"
  [routerLink]="['/qr']"
>
  <i class="material-icons">keyboard_arrow_left</i>
</a>
<div class="content">
  <div class="row">
    <div class="col s12 m4">
      <h5 class="text-center">Productos</h5>
      <div id="menu">
        <ul class="collection">
          <li *ngFor="let label of labels" class="collection-item">
            <div>
              <span>[{{ label.id }}] {{ label.name }}</span>
              <i
                (click)="goActive(label.id)"
                class="material-icons right blue-text "
                style="cursor: pointer;"
              >
                create
              </i>
              <i
                (click)="onDelete(label.id)"
                class="material-icons right red-text "
                style="cursor: pointer;"
              >
                delete
              </i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col s12 m8">
      <h4 class="text-center">Etiqueta</h4>
      <form class="row" #form="ngForm" (submit)="onSubmit(form)">
        <div class="col s12 m4" id="nombre_prod">
          <div class="vacio">&nbsp;</div>
          <h6 class="text-center">Nombre del producto</h6>
        </div>
        <div class="col s12 m8 input-field">
          <input
            type="text"
            name="name"
            required
            id="name"
            maxlength="60"
            [(ngModel)]="labelActive.name"
          />
        </div>
      </form>
      <div class="row">
        <div class="input-field col s6 m4">
          <select class="browser-default" id="fonts">
            <option value disabled selected>
              Fuente
            </option>
            <option *ngFor="let font of fonts" [value]="font">
              {{ font }}
            </option>
          </select>
        </div>
        <div class="input-field col s6 m4">
          <select class="browser-default" id="fontSize">
            <option value disabled selected>
              Tamaño de fuente
            </option>
            <option *ngFor="let font of fontSize" [value]="font">
              {{ font }}
            </option>
          </select>
        </div>
        <div class="input-field col s12 m4 center-align">
          <button
            class="btn waves-effect blue waves-light"
            id="bold"
            type="button"
          >
            <i class="material-icons center">format_bold</i>
          </button>
          &nbsp;
          <button
            class="btn waves-effect blue waves-light"
            id="underline"
            type="button"
          >
            <i class="material-icons center">format_color_text</i>
          </button>
          &nbsp;
          <button
            class="btn waves-effect blue waves-light"
            id="italic"
            type="button"
          >
            <i class="material-icons center">format_italic</i>
          </button>
        </div>
        <div class="col s6 m1">
          <img
            src="../../../../assets/img/testing/QRCode.png"
            id="photo"
            #imgg
            alt
          />
        </div>
      </div>
      <div id="box-container">
        <canvas id="box" width="408" height="192"> </canvas>
      </div>
      <div class="row">
        <div class="col s12 right-align ">
          <button class="btn rigth blue" type="button" (click)="onSubmit(form)">
            Guardar
          </button>
          &nbsp;
          <button class="btn blue" type="reset" (click)="generateLabel()">
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
