<div class="preloader-wrapper big active" *ngIf="bIsLoading">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<div class="container" *ngIf="lineasRegistrada.length > 0 && !bIsLoading">
  <div class="row pt-4">
    <div class="2"></div>
    <div class="8">
      <h4 class="grey-text">Lineas Registradas</h4>
    </div>
    <div class="2"></div>
  </div>
  <div class="row pt-3" *ngIf="!bIsLoading">
    <div class="col s12">
      <table class="highlight centered">
        <thead>
          <tr class="grey-text">
            <th>ID</th>
            <th>Número</th>
            <th>IMEI</th>
            <th>ICCID</th>
            <th>Recarga</th>
            <th>Descripción</th>
            <th>Vigencia</th>
            <th colspan="2">ID,QR</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of lineasRegistrada; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ line.numero }}</td>
            <td>{{ line.imei }}</td>
            <td>{{ line.iccid }}</td>
            <td>
              {{ line.importe | currency: "":"symbol-narrow" }}
            </td>
            <td>{{ line.descripcion }}</td>
            <td>
              {{ line.fecha_vigencia | date: "dd/MM/yyyy" }}
            </td>
            <ng-container *ngIf="bFlagQrGenerated">
              <td>
                <qrcode [qrdata]="line.id" [size]="50" [level]="'M'"></qrcode>
                <!-- <img [src]="lineasRegistrada[i].src" style="width: 50px; height: 50px;"> -->
              </td>
              <td>{{ line.id }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <select
        *ngIf="bFlagQrGenerated"
        class="browser-default"
        (change)="onSelectLabel($event.target.value)"
      >
        <option value disabled selected>
          Producto
        </option>
        <option *ngFor="let label of labelss" [value]="label.id">
          [{{ label.id }}] {{ label.name }}
        </option>
      </select>
    </div>
    <div class="col s6">
      <button
        class="waves-effect waves-light btn blue accent-1 btn-ag-sec right"
        (click)="generarQR()"
        [disabled]="bIsLoading"
        *ngIf="!bFlagQrGenerated"
      >
        Generar QR
      </button>
      <button
        class="waves-effect waves-light btn blue accent-1 btn-ag-sec right"
        *ngIf="bFlagQrGenerated"
        [disabled]="bIsLoading || loading"
        (click)="imprimirEtiqueta()"
      >
        {{ loading ? "Generando ..." : "Imprimir Etiqueta" }}
      </button>
    </div>
  </div>
</div>
<div class=" container" *ngIf="lineasRegistrada.length <= 0 && !bIsLoading">
  <div class="row pt-6">
    <div class="col s12 grey-text text-center">
      <h3>No hay lineas cargadas</h3>
    </div>
  </div>
</div>
<!-- <div
    id="modal-labels"
    class="modal modal-fixed-footer w-70"
    #modalLabel
>
    <div class="modal-content">
        <div
            class="row pt-0"
            id="rowLabels"
        >
            <div
                class="col s12"
                #labels
            > -->
<!-- <div class="preloader-wrapper big active" *ngIf="!fileLoad">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div> -->

<!-- <object [data]="sUrlDoc | domseguro" width="100%" height="800px" type="application/pdf" *ngIf="fileLoad" ></object> -->
<!-- <embed [src]="sUrlDoc | domseguro" type="application/pdf" width="100%" height="800px" /> -->
<!-- <iframe [src]="sUrlDoc | domseguro" width="100%"  height="800px"></iframe> -->

<!-- </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="sUrlDoc" >
        <a (click)="downloadFile()" class="waves-effect waves-green btn-flat" target="_blank" >
            <i class="material-icons">print</i> Imprimir
        </a>
    </div>
</div> -->
