.border-rounded{
    border: 1px solid;
    border-radius: 20px;
}
.fondo_textos{
    background-color: #e5e3e3;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    margin-right: 25px;
}

.img-izq{
    width: 100%;
}

.img-der{
    width: 100%;
}


.modal{
    max-height: 100% !important;
}

.modal.modal-fixed-footer {    
    height: 80% !important;
}
.title{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    i {
        margin-top: 8px;
    }
  }
  .text_blue{
    color:  #3e5f8a;
  }