#detalle {
  border-collapse: separate;
  border-spacing: 1.5rem 0;
  border-radius: 1em;
  padding: 5px;
  margin: auto;
  color: #3E5F89;
  width: 50%;
  margin-top: 30px;
}

#detalle .row {
  margin-bottom: 10px;
}

.botonera button {
  background-color: #3E5F89;
  width: 80%;
  border-radius: 2rem;
  margin: 15px 0;
}
