<div id="detalle">

  <div class="row">
    <p class="center-align text-bold">Confirma los datos de tu activación</p>
  </div>

  <div class="row">
    <div class="col s3"><span class="text-bold">Producto:</span></div>
    <div class="col s9"><span>{{confirmacion.producto.producto}}</span></div>
  </div>

  <div class="row">
    <div class="col s3"><span class="text-bold">Plan:</span></div>
    <div class="col s9"><span>{{confirmacion.plan.nombre}}</span></div>
  </div>

  <div class="row" *ngIf="confirmacion.tarifa">
    <div class="col s3"><span class="text-bold">Tarifa:</span></div>
    <div class="col s9"><span>{{confirmacion.tarifa.nombre}}</span></div>
  </div>

  <div class="row">
    <div class="col s3"><span class="text-bold">ICCID:</span></div>
    <div class="col s9"><span>{{confirmacion.iccid}}</span></div>
  </div>

  <div class="row" *ngIf="confirmacion.imei">
    <div class="col s3"><span class="text-bold">IMEI:</span></div>
    <div class="col s9"><span>{{confirmacion.imei}}</span></div>
  </div>

  <div class="row">
    <div class="col s3"><span class="text-bold">Ciudad:</span></div>
    <div class="col s9"><span>{{confirmacion.ciudad.nombre}}</span></div>
  </div>

  <div class="row botonera">
    <div class="col s6 center">
      <button (click)="cancelar()" class="waves-effect waves-light btn-large blue accent-1 btn-ag-sec brown lighten-2">
        Cancelar
      </button>
    </div>
    <div class="col s6 center">
      <button id="btnaceptar" (click)="crearActivacion()"
              class="waves-effect waves-light btn-large accent-1 btn-ag-sec">
        Aceptar
      </button>
    </div>
  </div>

</div>
