/**
 * _variables.scss
 * This file contains main variable declarations 
*/

$class-prefix: "ag-";

/**
 * Colors
*/

$ag-white: #fff !default;
$ag-gray-100: #f8f9fa !default;
$ag-gray-200: #e9ecef !default;
$ag-gray-300: #dee2e6 !default;
$ag-gray-400: #ced4da !default;
$ag-gray-500: #adb5bd !default;
$ag-gray-600: #6c757d !default;
$ag-gray-700: #495057 !default;
$ag-gray-800: #343a40 !default;
$ag-gray-900: #212529 !default;
$black: #000 !default;

$ag-grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$ag-grays: map-merge(
  (
    "100": $ag-gray-100,
    "200": $ag-gray-200,
    "300": $ag-gray-300,
    "400": $ag-gray-400,
    "500": $ag-gray-500,
    "600": $ag-gray-600,
    "700": $ag-gray-700,
    "800": $ag-gray-800,
    "900": $ag-gray-900
  ),
  $ag-grays
);

$ag-white: #f5f7fa;
$ag-black: #242424;
$ag-gray: #cdcdcd;
$ag-dark-blue: #03254A;
$ag-green: #597d63;
$ag-light-green: #a7bc9d;
$ag-light-blue: #3e5f8a;
$ag-red: #ec0000; // Main color
$ag-yellow: #ffeb3b;

$custom-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$ag-colors: map-merge(
  (
    "white": $ag-white,
    "black": $ag-black,
    "gray": $ag-gray,
    "dark-blue": $ag-dark-blue,
    "green": $ag-green,
    "light-green": $ag-light-green,
    "light-blue": $ag-light-blue,
    "red": $ag-red,
    "yelow": $ag-yellow
  ),
  $custom-colors
);

$ag-primary: $ag-light-blue !default;
$ag-secondary: $ag-gray-600 !default;
$ag-success: $ag-green !default;
$ag-info: $ag-light-blue !default;
$ag-warning: $ag-yellow !default;
$ag-danger: $ag-red !default;
$ag-light: $ag-gray-100 !default;
$ag-dark: $ag-gray-800 !default;

$ag-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$ag-theme-colors: map-merge(
  (
    "primary": $ag-primary,
    "secondary": $ag-secondary,
    "success": $ag-success,
    "info": $ag-info,
    "warning": $ag-warning,
    "danger": $ag-danger,
    "light": $ag-light,
    "dark": $ag-dark
  ),
  $ag-theme-colors
);

/**
 * Spacing
*/

// Default spacer
$spacer: 1.5rem;

// Spacers map
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.75
  ),
  3: $spacer,
  4: (
    $spacer * 1.5
  ),
  5: (
    $spacer * 3
  )
) !default;

/**
 * Grid
*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/**
 * Fonts
*/

// Font family
$ag-font-family: "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$ag-font-family-content: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-root: 16px;

/**
 * Backgrounds
*/

// Multimedia
$url-background-body: url("../img/content/back_ground_body.jpg");
