@import '_variables';
@import '_functions';
@import '_mixins';
@import '_utilities';
@import '_specific';

@include colors-list;

html {
  font-size: 16px;
  font-family: $ag-font-family;
}

.btn-ag-sec {
  height: 1.5rem !important;
  text-transform: none;
  line-height: 1.5rem;
  font-size: .75rem;
  border-radius: .75rem;
  -webkit-border-radius: .75rem;
  -moz-border-radius: .75rem;
  appearance: none;
}

.btn-ag-sec-recovery {
  width: 9.5rem !important;
  height: 3.5rem !important;
  text-transform: none;
  line-height: 3.5rem;
  font-size: 1.2rem;
  border-radius: 2.75rem;
  -webkit-border-radius: 2.75rem;
  -moz-border-radius: 2.75rem;
  appearance: none;
}


.btn-alert {
  height: 1.5rem;
  line-height: 1.5rem;
  text-transform: none;
  font-size: .75rem !important;
  padding: 0 .75rem !important;
  border-radius: .75rem !important;
  -webkit-border-radius: .75rem !important;
  -moz-border-radius: .75rem !important;
  appearance: none;
}


dl.list {
  font-size: 1rem;

  dt ~ dt,
  dt i {
    font-size: .6rem;
  }

  dt i {
    width: 1rem;
  }
}

/* Alternative align */
.flex-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Paddings */
.p-0 {
  padding: 0 !important;
}

.p-8 {
  padding: 8px !important;
}

.pt-0{
  padding-top: 0px !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-2-5{
  padding-top: 0.9rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}


.pt-6 {
  padding-top: 4.5rem !important;
}

.pt-8 {
  padding-top: 8px;
}


.pb-8 {
  padding-bottom: 8px;
}

.pb-0{
  padding-bottom: 0px !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Margins */
.m-0 {
  margin: 0 !important;
}
.m { margin: 8px; }

.mt-8 {
  margin-top: 8px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}


.mb-0{
  margin-bottom: 0px !important;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mx {
  margin: 8px 0;
}

/* Adjusts materialize */
.switch label input[type=checkbox]:checked + .lever {
  background-color: $ag-light-blue;

  &:after {
    background-color: $ag-dark-blue;
  }
}

.input-field .prefix.active {
  color: $ag-dark-blue;
}

/* label underline focus color */
.input-field input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid $ag-dark-blue;
  box-shadow: 0 1px 0 0 $ag-dark-blue;
}

i.tiny {
  width: 1.5rem;
  font-size: 1.5rem !important;
}

i.medium {
  width: 3rem;
  font-size: 3rem !important;
}

i.extrabig {
  width: 12rem;
  font-size: 12rem !important;
}

.btn-floating {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
}

.btn-floating:hover {
  background-color: $ag-light-blue;
}

.btn-floating-large {
  height: 40px !important;
  width: 170px !important;
}

.input-field input:focus + label {
  color: $ag-dark-blue !important;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border-color: $ag-light-green;
  background-color: $ag-light-green;
}

table.striped {
  tbody tr:nth-child(odd) {
    background: $ag-light-green;
    background: -moz-linear-gradient(left, $ag-light-green 0%, $ag-white 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, $ag-light-green), color-stop(100%, $ag-white));
    // background: -webkit-linear-gradient(left, $ag-light-green 0%, $ag-white 100%);
    // background: -o-linear-gradient(left, $ag-light-green 0%, $ag-white 100%);
    // background: -ms-linear-gradient(left, $ag-light-green 0%, $ag-white 100%);
    // background: linear-gradient(to right, $ag-light-green 0%, $ag-white 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bedb81', endColorstr='#e0ff9e', GradientType=1 );
  }

  tbody tr:nth-child(even) {
    background: $ag-light-blue;
    // background: -moz-linear-gradient(left, $ag-light-blue 0%, $ag-white 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, $ag-light-blue), color-stop(100%, $ag-white));
    // background: -webkit-linear-gradient(left, $ag-light-blue 0%, $ag-white 100%);
    // background: -o-linear-gradient(left, $ag-light-blue 0%, $ag-white 100%);
    // background: -ms-linear-gradient(left, $ag-light-blue 0%, $ag-white 100%);
    // background: linear-gradient(to right, $ag-light-blue 0%, $ag-white 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bedb81', endColorstr='#e0ff9e', GradientType=1 );
  }
}

.striped-simple {
    tbody tr:nth-child(odd) {
      background: $ag-light-blue !important;
    }

    tbody tr:nth-child(even) {
      background: white !important;
    }
}

.spinner-blue-only {
  border-color: $ag-light-blue;
}

.icon-menu{
  color:#3e5f8a !important;
}



.file-dragdrop {
	text-align: center;
	position: relative;
}

.file-dragdrop img {
	display: block;
	margin: 24px auto;
	width: 96px;
	opacity: 0.5;
}

.file-dragdrop .dropzone {
	width: 100%;
	position: relative;
	padding: 12px;
}

.file-dragdrop .dropzone p {
	padding-bottom: 12px;
}

.file-dragdrop .dropzone.active {
	border: 1px dashed #EA6832;
}

.file-dragdrop .loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: #fff;
}

.file-dragdrop .loader .inner {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.file-dragdrop .loader .inner.max {
	max-height: 100%;
	overflow: auto;
}

.file-preview {
	text-align: left !important;
}

.file-preview .file-container {
	position: relative;
	width: auto;
	padding: 10px 20px 10px 72px;
}

.file-preview .file-container .title {
	display: block;
	margin: 0;
	margin-bottom: 4px;
	font-weight: bold;
}

.file-preview .file-container i.material-icons {
	position: absolute;
	display: block;
	border-radius: 100%;
	background-color: #e0e0e0;
	
	width: 42px;
	height: 42px;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	top: 10px;
	left: 14px;
	z-index: 1;
}


.file-preview .file-container i.material-icons.hid {
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

.file-preview .file-container i.material-icons.hid:hover {
	opacity: 1;
}

.w-50{
  width: 50% !important;
}

.w-60{
  width: 60% !important;
}
.w-70{
  width: 70% !important;
}

.w-80{
  width: 80% !important;
}

.w-90{
  width: 90% !important;
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: bold;
}

.text-italic{
  font-style: italic;
}

.tz-164{
  font-size: 1.64rem;
}

.boder-solid{
  border: #000 solid;
}

.border-gray {
  border-bottom: 1px solid #9e9e9e;
}

.carousel .indicators .indicator-item.active {
  background-color: #0288d1 !important;
}

.carousel .indicators .indicator-item {
  background-color: #0097a7 !important;
  width: 12px;
  height: 12px;
}

.reporte-recargas {
  width: 95%;
  margin: auto;
}

.reporte-recargas .card {
  border-radius: 30px;
  padding: 5px 20px;
}

.reporte-recargas .card table {
  padding: 10px;
}

.enviar-filtro {
  margin: 0.5rem 0 1rem 0;
  padding: 15px;
}

.reporte-recargas a.btn {
  background-color: #3E5F89;
  border-radius: 30px;
}