<form class="col s12" [formGroup]="form" (submit)="changePassword($event)">
  <div class="row">
    <div class="col s12">
      <h5 class="ag-text-white m-0 center-align">Cambiar Contraseña</h5>
    </div>
  </div>
  <div class="row">
    <div class="input-field big-field col s7 offset-s2">
      <input formControlName="user" type="password" placeholder="Contraseña temporal" formControlName="old">
      <i class="material-icons prefix">lock</i>
      <span class="ag-text-red center-align" *ngIf="form.get('old').hasError('required') && formSubmitted">Este campo es
        requerido</span>
    </div>


    <ng-container formGroupName="passwords">
      <div class="input-field big-field col s7 offset-s2">
        <input formControlName="new" type="password" placeholder="Nueva Contraseña">
        <i class="material-icons prefix">lock</i>
        <span class="ag-text-red center-align" *ngIf="form.get('passwords.new').hasError('required') && formSubmitted">Este
          campo es requerido</span>
      </div>
      <div class="input-field big-field col s7 offset-s2">
        <input formControlName="confirm" type="password" placeholder="Repetir Contraseña">
        <i class="material-icons prefix">lock</i>
        <span class="ag-text-red center-align" *ngIf="form.get('passwords.confirm').hasError('required') && formSubmitted">Este
          campo es requerido</span>
        <span class="ag-text-red center-align mt-8" *ngIf="form.get('passwords.confirm').hasError('matchpassword') && formSubmitted">Las
          contraseñas no coinciden</span>
      </div>
    </ng-container>
  </div>
  <div class="col s6 offset-s2">
    <div class="row">
      <div class="col s2 p-0">
        <a class="waves-effect waves-light btn-large blue darken-4" [routerLink]="['..']">
          Cancelar
        </a>
        
      </div>
      <div class="col s4 offset-s6 p-2">
        <button class="waves-effect waves-light btn-large blue darken-4" type="submit">
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>
