.forgot-pass{
    cursor: pointer;
    left: 50px !important; 
    margin-top: 0.5vw;
    color: #f5f7fa;
    font-size: 1rem;
    text-align: center;
}

.forgot-pass:hover{
    font-weight: 600;
}
.image{
    position: relative;
    left: 0%;
    top: 60%;
    font-size: 18vh;
    color: grey;
}
::placeholder { 
    color: black;
    opacity: 0.7; 
  }
.btn{
    background-color: transparent;
    box-shadow: 10px 10px 5px -200px rgba(255, 255, 255, 0);
    text-align: center; font-size: 2.6vh;
    text-transform: none;
}
.logoImage{
    position: fixed;
    left: 2.7%;
    bottom: 5%;
    transform: translate(0%, 0%);
    width: 20vw;
}
.input-field .prefix.active{
    color: grey
}
button{
    right: 0%;
    transform: translate(37%, 0%);
    
}
.btn[_ngcontent-c3] {
    text-align: center;
    font-size: 1rem;
}
.input-field{
    right: 0%;
    transform: translate(36%, 0%);
}
.textWelcome{
    font-size: 5vh;
}
  