<img  class="logoImage" src="../../assets/img/banners/login-logo.png"/>
<form class="col s12" [formGroup]="form" (submit)="login($event)">
  
  <div class="row">
    <div class="col s12">
      <h2 class="center-align textWelcome">
        Bienvenido 
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="input-field big-field col s7">
      <i class="material-icons prefix">email</i>
      <input formControlName="user" type="text" placeholder="Correo">
    </div>
    <div class="input-field big-field col s7">
      <i class="material-icons prefix">lock</i>
      <input formControlName="password" type="password" placeholder="Contraseña">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l2"><p></p></div>
    <div class="col s8 " style="text-align: center;">
      <button type="submit" class="waves-effect waves-light btn indigo darken-4 btn-ag-sec col s7">
      Iniciar sesión </button>
    </div>
  </div>
  <div class="row">
    <div class="col s12"><p></p></div>
    <a class="col s12 forgot-pass black-text"  [routerLink]="['recovery']">
      ¿Olvidaste tu contraseña?
    </a>
  </div>
</form>

